backend/n8n/ai_powered_ticket_triage_with_multi_model_classification_knowledge_base_11854/workflow.json
{
  "id": "9zgsxXwpl2WjONeU",
  "meta": {
    "instanceId": "b91e510ebae4127f953fd2f5f8d40d58ca1e71c746d4500c12ae86aad04c1502"
  },
  "name": "AI-Powered Ticket Triage with Multi-Model Classification & Knowledge Base",
  "tags": [],
  "nodes": [
    {
      "id": "6827a672-25ca-4281-a27f-11eee632596b",
      "name": "Incoming Ticket Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -1712,
        176
      ],
      "webhookId": "0cb6d2b2-33c2-423d-a450-72dcb648276c",
      "parameters": {
        "path": "helpdesk-YOUR_OPENAI_KEY_HERE",
        "options": {},
        "httpMethod": "POST",
        "responseMode": "lastNode"
      },
      "typeVersion": 2.1
    },
    {
      "id": "c63db414-988c-4b7d-b54c-ff5de084b68c",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "position": [
        -1520,
        176
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "pgVectorTable",
              "type": "string",
              "value": "helpdesk_knowledge_base"
            },
            {
              "id": "id-2",
              "name": "pgVectorHost",
              "type": "string",
              "value": "<__PLACEHOLDER_VALUE__PostgreSQL host__>"
            },
            {
              "id": "id-3",
              "name": "pgVectorDatabase",
              "type": "string",
              "value": "<__PLACEHOLDER_VALUE__PostgreSQL database name__>"
            },
            {
              "id": "id-4",
              "name": "slackChannel",
              "type": "string",
              "value": "<__PLACEHOLDER_VALUE__Slack channel ID for engineer notifications__>"
            }
          ]
        },
        "includeOtherFields": true
      },
      "typeVersion": 3.4
    },
    {
      "id": "51a2b794-eb0e-4008-ab3d-bfc04a9d6159",
      "name": "Ticket Classifier Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -1248,
        176
      ],
      "parameters": {
        "text": "=Ticket Details:\nTitle: {{ $json.title }}\nDescription: {{ $json.description }}\nPriority: {{ $json.priority }}\nReporter: {{ $json.reporter }}",
        "options": {
          "systemMessage": "You are an IT helpdesk ticket classifier and resolver.\n\nYour task is to:\n1. Analyze the incoming ticket details\n2. Classify the ticket type (hardware, software, network, access, other)\n3. Search the knowledge base for similar resolved tickets\n4. If a matching solution is found, return it with confidence score\n5. If no match found, indicate that a new solution needs to be generated\n\nReturn your analysis in the structured format defined by the output parser."
        },
        "promptType": "define",
        "hasOutputParser": true
      },
      "typeVersion": 3
    },
    {
      "id": "e72e5729-a7a1-420c-a781-428f83698acb",
      "name": "OpenAI Chat Model - Classifier",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -1280,
        352
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {},
        "builtInTools": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "mv2ECvRtbAK63G2g",
          "name": "OpenAi account"
        }
      },
      "typeVersion": 1.3
    },
    {
      "id": "d1b218a2-35d1-42e5-b13c-2134a18ac6ae",
      "name": "Classification Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        -960,
        512
      ],
      "parameters": {
        "jsonSchemaExample": "{\n\t\"ticketType\": \"hardware\",\n\t\"category\": \"printer\",\n\t\"solutionFound\": true,\n\t\"solution\": \"Restart the printer and check the connection\",\n\t\"confidence\": 0.95,\n\t\"reasoning\": \"Based on the symptoms described, this is a common printer connectivity issue\"\n}"
      },
      "typeVersion": 1.3
    },
    {
      "id": "2a850465-78a5-48b6-a303-eee25ee9c625",
      "name": "MCP Server Tools",
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "position": [
        -1264,
        576
      ],
      "parameters": {
        "options": {},
        "endpointUrl": "<__PLACEHOLDER_VALUE__MCP server endpoint URL__>"
      },
      "typeVersion": 1.2
    },
    {
      "id": "f9492560-fe46-400c-9be6-1f1b82b71580",
      "name": "Knowledge Base Search",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "position": [
        -1152,
        400
      ],
      "parameters": {
        "mode": "retrieve-as-tool",
        "options": {},
        "tableName": "={{ $('Workflow Configuration').first().json.pgVectorTable }}",
        "toolDescription": "Search the IT helpdesk knowledge base for similar resolved tickets and solutions"
      },
      "typeVersion": 1.3
    },
    {
      "id": "dc798a71-6f3f-4149-966b-209e5c89b9ac",
      "name": "Embeddings OpenAI - Search",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        -1072,
        608
      ],
      "parameters": {
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "mv2ECvRtbAK63G2g",
          "name": "OpenAi account"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "0aaec9d6-274f-42e0-83f9-560cd272c4e8",
      "name": "Check If Solution Found",
      "type": "n8n-nodes-base.if",
      "position": [
        -768,
        176
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": false,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "id-1",
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "leftValue": "={{ $json.solutionFound }}"
            }
          ]
        }
      },
      "typeVersion": 2.3
    },
    {
      "id": "228e7ddf-eb3c-4c3c-b65e-16a4589b01c1",
      "name": "Format Auto-Resolution",
      "type": "n8n-nodes-base.set",
      "position": [
        -208,
        160
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "status",
              "type": "string",
              "value": "resolved"
            },
            {
              "id": "id-2",
              "name": "resolution",
              "type": "string",
              "value": "={{ $json.solution }}"
            },
            {
              "id": "id-3",
              "name": "resolvedBy",
              "type": "string",
              "value": "AI Auto-Resolver"
            },
            {
              "id": "id-4",
              "name": "resolvedAt",
              "type": "string",
              "value": "={{ $now.toISO() }}"
            }
          ]
        },
        "includeOtherFields": true
      },
      "typeVersion": 3.4
    },
    {
      "id": "4b7265b0-9b54-4700-a447-0a3de7d17c23",
      "name": "AI Solution Generator",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -576,
        292
      ],
      "parameters": {
        "text": "=Ticket Details:\nTitle: {{ $json.title }}\nDescription: {{ $json.description }}\nCategory: {{ $json.category }}\nPriority: {{ $json.priority }}",
        "options": {
          "systemMessage": "You are an expert IT support engineer specializing in troubleshooting and problem resolution.\n\nYour task is to:\n1. Analyze the ticket details carefully\n2. Use available MCP tools to gather diagnostic information if needed\n3. Generate a detailed step-by-step solution to resolve the issue\n4. Provide clear instructions that can be followed by the user or support staff\n5. Include any relevant warnings or prerequisites\n6. Estimate the complexity level (low, medium, high)\n\nReturn your solution in the structured format defined by the output parser."
        },
        "promptType": "define",
        "hasOutputParser": true
      },
      "typeVersion": 3
    },
    {
      "id": "03926416-0969-41c0-930b-3e1d1dae1175",
      "name": "OpenAI Chat Model - Solution",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -704,
        512
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {},
        "builtInTools": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "mv2ECvRtbAK63G2g",
          "name": "OpenAi account"
        }
      },
      "typeVersion": 1.3
    },
    {
      "id": "c34ab993-7113-4337-bc8d-aad71cbc5671",
      "name": "Solution Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        -416,
        528
      ],
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"solution\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"description\": \"The proposed solution to the ticket\"\n\t\t},\n\t\t\"steps\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"string\"\n\t\t\t},\n\t\t\t\"description\": \"Step-by-step instructions to resolve the issue\"\n\t\t},\n\t\t\"complexity\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"description\": \"The complexity level of the solution\"\n\t\t},\n\t\t\"estimatedTime\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"description\": \"Estimated time to complete the solution\"\n\t\t},\n\t\t\"requiresEngineer\": {\n\t\t\t\"type\": \"boolean\",\n\t\t\t\"description\": \"Whether an engineer is required to implement the solution\"\n\t\t},\n\t\t\"diagnosticInfo\": {\n\t\t\t\"type\": \"object\",\n\t\t\t\"description\": \"Additional diagnostic information\"\n\t\t}\n\t},\n\t\"required\": [\"solution\", \"steps\", \"complexity\", \"estimatedTime\", \"requiresEngineer\", \"diagnosticInfo\"]\n}"
      },
      "typeVersion": 1.3
    },
    {
      "id": "c7588643-c520-4fcf-8566-025c3b3ec191",
      "name": "Create Diagnostic Logs",
      "type": "n8n-nodes-base.code",
      "position": [
        -224,
        336
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Create diagnostic log entry with comprehensive ticket information\nconst timestamp = new Date().toISOString();\nconst ticketData = $input.item.json;\n\n// Extract ticket information\nconst ticketId = ticketData.ticketId || ticketData.id || 'UNKNOWN';\nconst classification = ticketData.classification || ticketData.category || 'Not classified';\nconst solution = ticketData.solution || ticketData.response || 'No solution provided';\nconst confidenceScore = ticketData.confidence || ticketData.confidenceScore || 0;\nconst aiModel = ticketData.model || 'OpenAI';\n\n// Create diagnostic log object\nconst diagnosticLog = {\n  timestamp: timestamp,\n  ticketId: ticketId,\n  classification: {\n    category: classification,\n    confidence: confidenceScore\n  },\n  solution: {\n    details: solution,\n    generatedBy: aiModel,\n    confidence: confidenceScore\n  },\n  aiMetrics: {\n    classificationConfidence: confidenceScore,\n    solutionConfidence: ticketData.solutionConfidence || confidenceScore,\n    processingTime: ticketData.processingTime || 'N/A'\n  },\n  metadata: {\n    workflowId: $workflow.id,\n    executionId: $execution.id,\n    nodeId: $node.id\n  }\n};\n\n// Return the diagnostic log along with original data\nreturn {\n  json: {\n    ...ticketData,\n    diagnosticLog: diagnosticLog,\n    logCreatedAt: timestamp\n  }\n};"
      },
      "typeVersion": 2
    },
    {
      "id": "672872f3-c0ec-47e1-80ff-00bac86830ee",
      "name": "Check If Engineer Needed",
      "type": "n8n-nodes-base.if",
      "position": [
        0,
        336
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": false,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "id-1",
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "leftValue": "={{ $json.requiresEngineer }}"
            }
          ]
        }
      },
      "typeVersion": 2.3
    },
    {
      "id": "af2df0d0-e747-4836-b6de-392a914fd728",
      "name": "Notify Engineer",
      "type": "n8n-nodes-base.slack",
      "position": [
        208,
        464
      ],
      "webhookId": "884b8ae9-133e-403a-974e-84926ae77ac2",
      "parameters": {
        "text": "=🚨 *Engineer Attention Required*\n\n*Ticket:* {{ $json.title }}\n*Category:* {{ $json.category }}\n*Priority:* {{ $json.priority }}\n*Complexity:* {{ $json.complexity }}\n\n*AI-Generated Solution:*\n{{ $json.solution }}\n\n*Diagnostic Info:*\n```{{ JSON.stringify($json.diagnosticInfo, null, 2) }}```\n\nPlease review and take action.",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Workflow Configuration').first().json.slackChannel }}"
        },
        "otherOptions": {},
        "authentication": "oAuth2"
      },
      "credentials": {
        "slackOAuth2Api": {
          "id": "d34b1ayEBbvZm2lT",
          "name": "Slack account"
        }
      },
      "typeVersion": 2.4
    },
    {
      "id": "865330cb-1a76-4118-a56d-01e6fe58fcad",
      "name": "Update Ticket Status",
      "type": "n8n-nodes-base.postgres",
      "position": [
        0,
        160
      ],
      "parameters": {
        "query": "=UPDATE tickets SET status = '{{ $json.status }}', resolution = '{{ $json.resolution }}', resolved_by = '{{ $json.resolvedBy }}', resolved_at = '{{ $json.resolvedAt }}' WHERE id = {{ $json.ticketId }}",
        "options": {},
        "operation": "executeQuery"
      },
      "typeVersion": 2.6
    },
    {
      "id": "129ccc90-6dd1-45ed-9d62-c8b8d01946bd",
      "name": "Add to Knowledge Base",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "position": [
        624,
        224
      ],
      "parameters": {
        "mode": "insert",
        "options": {},
        "tableName": "={{ $('Workflow Configuration').first().json.pgVectorTable }}"
      },
      "typeVersion": 1.3
    },
    {
      "id": "ab1c5259-25c7-413c-aee6-58cda3555691",
      "name": "Embeddings OpenAI - Insert",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        624,
        448
      ],
      "parameters": {
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "mv2ECvRtbAK63G2g",
          "name": "OpenAi account"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "4e9bb7b2-f899-4780-a34c-55dfba995901",
      "name": "Document Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        800,
        448
      ],
      "parameters": {
        "options": {},
        "jsonData": "={{ $json.kbEntry }}",
        "jsonMode": "expressionData"
      },
      "typeVersion": 1.1
    },
    {
      "id": "d51ad26e-c30a-4d88-bf0d-9d0909187b56",
      "name": "Prepare KB Entry",
      "type": "n8n-nodes-base.set",
      "position": [
        448,
        224
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "kbEntry",
              "type": "string",
              "value": "=Ticket Type: {{ $json.category }}\nIssue: {{ $json.title }}\nDescription: {{ $json.description }}\nSolution: {{ $json.solution }}\nSteps: {{ $json.steps ? $json.steps.join(\"\\n\") : \"N/A\" }}\nComplexity: {{ $json.complexity }}\nResolved: {{ $json.resolvedAt }}"
            }
          ]
        },
        "includeOtherFields": true
      },
      "typeVersion": 3.4
    },
    {
      "id": "7ee21fae-22c4-4d51-b77b-81b1a1ee4e43",
      "name": "MCP Server Tools1",
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "position": [
        -528,
        544
      ],
      "parameters": {
        "options": {},
        "endpointUrl": "<__PLACEHOLDER_VALUE__MCP server endpoint URL__>"
      },
      "typeVersion": 1.2
    },
    {
      "id": "d5e9698d-fc75-4683-95eb-53f065c89ec9",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1712,
        -272
      ],
      "parameters": {
        "width": 944,
        "height": 224,
        "content": "## How It Works\nThis workflow automates enterprise ticket management by combining AI-powered classification with knowledge base retrieval. It receives support tickets via webhook, routes them through multiple AI models (OpenAI ChatGPT, NVIDIA's text classification APIs, and embeddings-based search) to determine optimal resolution strategies. The system generates contextual diagnostic logs, formats responses, updates ticket systems, notifies engineers when escalation is needed, and seamlessly integrates with knowledge bases for continuous learning. It solves the critical problem of manual ticket sorting and delayed responses by automating intelligent triage, reducing resolution time, and ensuring consistent quality across support operations. Target audience includes support operations teams, technical support managers, and enterprises managing high-volume ticket queues seeking to improve efficiency and SLA compliance."
      },
      "typeVersion": 1
    },
    {
      "id": "65db39df-2225-4703-8593-f4bec3dde705",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -272,
        16
      ],
      "parameters": {
        "color": 7,
        "width": 640,
        "height": 752,
        "content": "## 4. Conditional Routing & Escalation\n\n**What:** Determines whether a ticket requires escalation.\n**Why:** Prevents unnecessary engineer notifications and optimizes resource allocation."
      },
      "typeVersion": 1
    },
    {
      "id": "7372e9ef-c127-4a38-8015-7fc5e28b275b",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1344,
        16
      ],
      "parameters": {
        "color": 7,
        "width": 496,
        "height": 752,
        "content": "## 2. Ticket Classification & Analysis\n\n**What:** Multiple classifiers analyze each ticket.\n**Why:** A multi-model approach improves accuracy and captures diverse solution paths."
      },
      "typeVersion": 1
    },
    {
      "id": "fae4d962-6d17-4174-b871-ea49f42f185b",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1760,
        16
      ],
      "parameters": {
        "color": 7,
        "width": 400,
        "height": 384,
        "content": "\n## 1. Workflow Configuration\n\n**What:** Prepares the data structure for incoming tickets.\n**Why:** Ensures consistent formatting for reliable downstream processing.\n"
      },
      "typeVersion": 1
    },
    {
      "id": "4869b1bd-b9b7-40d4-97e6-901ddd30b2f4",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        480,
        -288
      ],
      "parameters": {
        "color": 5,
        "width": 464,
        "height": 256,
        "content": "## Customization\nSwap OpenAI models for Claude or Anthropic APIs. Replace Google Sheets with database systems (PostgreSQL, Airtable). \n\n## Benefits\nReduces manual ticket sorting by 70-80%, freeing support staff for complex issues. Decreases average resolution time through intelligent routing"
      },
      "typeVersion": 1
    },
    {
      "id": "7af46b41-66e3-4d80-a985-e21429ace806",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -240,
        -272
      ],
      "parameters": {
        "color": 4,
        "width": 656,
        "height": 224,
        "content": "## Prerequisites\nOpenAI API account with GPT access. NVIDIA API credentials (Embeddings & Classification). Google Sheets for KB management. Ticketing system with webhook capability.  \n\n## Use Cases\nSaaS support teams triaging 100+ daily tickets, reducing manual sorting by 80%. Technical support escalating complex issues intelligently while documenting solutions.  "
      },
      "typeVersion": 1
    },
    {
      "id": "4a46b3ca-5fbf-4188-b4ce-d99452817a11",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -752,
        -272
      ],
      "parameters": {
        "color": 3,
        "width": 416,
        "height": 240,
        "content": "## Setup Steps\n1. Configure the OpenAI API key in credentials.\n2. Add NVIDIA API credentials for embedding and classification models.\n3. Set up Google Sheets for knowledge base storage \n4. Connect your ticketing system (Jira, Zendesk, or webhook) for incoming tickets.\n5. Link a notification service (Gmail or Slack) \n6. Map custom fields to your ticket system schema.\n"
      },
      "typeVersion": 1
    },
    {
      "id": "2f10ec6b-f13b-453f-a08d-06766c2e0c98",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -832,
        16
      ],
      "parameters": {
        "color": 7,
        "width": 544,
        "height": 736,
        "content": "## 3. Solution Generation\n\n**What:** Generates proposed resolutions using AI.\n**Why:** Automates response drafting with contextual, high-quality suggestions."
      },
      "typeVersion": 1
    },
    {
      "id": "096ab21d-6eff-4d37-bc51-17539e17933b",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        384,
        16
      ],
      "parameters": {
        "color": 7,
        "width": 608,
        "height": 752,
        "content": "## 5. Knowledge Base Enrichment Update & Notification\n\n**What:** Prepares and adds new entries to the knowledge base and updates\n**Why:** Builds institutional knowledge from resolved tickets for future reference."
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7142a285-8317-4c91-92ae-757f72933601",
  "connections": {
    "Document Loader": {
      "ai_document": [
        [
          {
            "node": "Add to Knowledge Base",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Notify Engineer": {
      "main": [
        [
          {
            "node": "Prepare KB Entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Server Tools": {
      "ai_tool": [
        [
          {
            "node": "Ticket Classifier Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Prepare KB Entry": {
      "main": [
        [
          {
            "node": "Add to Knowledge Base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Server Tools1": {
      "ai_tool": [
        [
          {
            "node": "AI Solution Generator",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Ticket Status": {
      "main": [
        [
          {
            "node": "Prepare KB Entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Solution Generator": {
      "main": [
        [
          {
            "node": "Create Diagnostic Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Knowledge Base Search": {
      "ai_tool": [
        [
          {
            "node": "Ticket Classifier Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Diagnostic Logs": {
      "main": [
        [
          {
            "node": "Check If Engineer Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Auto-Resolution": {
      "main": [
        [
          {
            "node": "Update Ticket Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Solution Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Solution Generator",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Ticket Classifier Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Solution Found": {
      "main": [
        [
          {
            "node": "Format Auto-Resolution",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Solution Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Incoming Ticket Webhook": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ticket Classifier Agent": {
      "main": [
        [
          {
            "node": "Check If Solution Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Engineer Needed": {
      "main": [
        [
          {
            "node": "Notify Engineer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare KB Entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI - Insert": {
      "ai_embedding": [
        [
          {
            "node": "Add to Knowledge Base",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI - Search": {
      "ai_embedding": [
        [
          {
            "node": "Knowledge Base Search",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Classification Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Ticket Classifier Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model - Solution": {
      "ai_languageModel": [
        [
          {
            "node": "AI Solution Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model - Classifier": {
      "ai_languageModel": [
        [
          {
            "node": "Ticket Classifier Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "workflow_id": "ai-powered_ticket_triage_with_multi-model_classification_knowledge_base"
}