n8n/AI-Powered Cover Letter Generator with Resume Matching & Google Docs-11840/ai-powered_cover_letter_generator_with_resume_matching_google_docs.json
{
  "meta": {
    "instanceId": "e807ec7cd04488b184484954551e4cab3d3ef98ca370e8b87430c0bab14d75ed",
    "templateCredsSetupCompleted": true
  },
  "nodes": [
    {
      "id": "d716beae-7c26-42de-b195-e4829cab7e86",
      "name": "On form submission",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        -80,
        -96
      ],
      "webhookId": "a73686f0-cb89-4d06-94bf-f3c5787102dd",
      "parameters": {
        "options": {},
        "formTitle": "Job Description",
        "formFields": {
          "values": [
            {
              "fieldType": "textarea",
              "fieldLabel": "jobDescription"
            }
          ]
        },
        "formDescription": "Provide the job description for cover letter."
      },
      "typeVersion": 2.2
    },
    {
      "id": "95bb9cdb-48bd-4104-92dc-3a9739f029f1",
      "name": "Configuration",
      "type": "n8n-nodes-base.set",
      "position": [
        128,
        -96
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "45a244b0-af72-49c5-b634-c8a324eb02f5",
              "name": "resume",
              "type": "string",
              "value": "=# Joel Gamble\n\nGilbert, AZ 85296 | 623-262-7727 | joelgamble@outlook.com | [LinkedIn](https://www.linkedin.com/in/joel-gamble-829ab252/)\n\n---\n\n## Business Process Management | Intelligent Automation | Data & AI-Driven Operations\n\nStrategic project manager with 10+ years delivering enterprise-grade automation and data solutions. Experienced in leading cross-functional teams, managing complex initiatives, and identifying opportunities for AI and intelligent automation to drive business value. Adept at stakeholder engagement, technical implementation, and process transformation.\n\n---\n\n## Key Skills\n\n- AI-Driven Process Automation  \n- Project & Program Management  \n- Data Strategy & Reporting  \n- Intelligent Workflow Design  \n- Cross-Functional Collaboration  \n- Business Requirements Analysis  \n- Robotic Process Automation (UiPath, Power Automate)  \n- Stakeholder Engagement & Communication  \n- AI Readiness & Enablement  \n- Technical Documentation  \n- Team Training & Enablement  \n- Application & Platform Support  \n- Change Management (informal)  \n- IT Service Management (ITIL)  \n- Operational Efficiency Optimization  \n\n---\n\n## Professional Experience\n\n### Takeda, Boston, MS (Remote)  \n**Senior Systems Manager**  \n_September 2022 - September 2024_\n\n- Led department-wide intelligent automation adoption using UiPath, delivering training and developing RPA bots to eliminate repetitive tasks in Operations and Medical Writing.  \n- Designed and deployed a Model-Driven Power Apps portal replacing unstructured email workflows, enabling structured request intake, real-time status tracking, and enhanced reporting.  \n- Developed an AI-ready email monitoring solution in Power Apps + Power Automate to parse inboxes, classify requests, and route them to a custom ticketing system.  \n- Created dynamic analytics dashboards to auto-generate monthly reporting packages, reducing manual leadership workload while improving visibility.  \n- Mapped workflows using Visio for process clarity and alignment between business and technical teams during solution design.  \n- Authored training materials and led workshops on Power Platform and Dataverse, mentoring colleagues to deploy automation independently.  \n\n### Wells Fargo / NTT Data Consulting, Inc., Chandler, AZ  \n**Data and Analytics Consulting Principal Consultant**  \n_March 2020 - August 2022_\n\n- Led enterprise RPA initiatives across multiple business units, aligning automation goals with broader strategies and managing stakeholder expectations.  \n- Collaborated with SMEs and technical teams to design scalable automation pipelines and conducted RAD workshops to define AI-adjacent use cases.  \n- Built a Project Intake Survey platform to prioritize initiatives by business value, tech readiness, and resource impact.  \n- Designed UiPath automation for mining structured data from multiple Systems of Record, auto-generating standardized project artifacts.  \n- Utilized UiPath AI Center and Action Center for dataset preparation, ML model training, and human-in-the-loop validation, bridging classical RPA and AI.  \n\n### Mutual of Omaha Bank (Acquired by CIT Bank in 2019), Phoenix, AZ  \n**Systems Engineer**  \n_August 2017 – March 2020_\n\n- Designed and implemented SolarWinds Orion SAM and WPM environments for application support with custom alerts and incident tickets.  \n- Administered ServiceNow platform environments to support ITSM and business operations with advanced customizations.  \n- Centralized on-call communications via SharePoint, streamlining IS support group management.  \n- Implemented PagerDuty for dynamic on-call engagement and escalation, reducing response times.  \n- Collaborated on company-wide service portal reducing work order volume by consolidating requests.  \n\n### Mutual of Omaha Bank, Phoenix, AZ  \n**Process Automation Engineer**  \n_June 2016 - August 2017_\n\n- Led 35+ process improvement projects, eliminating 95% of manual interactions and saving 15,000+ operational hours.  \n- Reduced daily and monthly processing hours by 85% through workflow optimization and RPA implementation.  \n- Developed 25+ Batch/PowerShell scripts automating bank operations.  \n- Eliminated end-of-month overtime via targeted RPA solutions and real-time monitoring systems.  \n\n### Mutual of Omaha Bank, Phoenix, AZ  \n**Application Analyst**  \n_July 2015 – June 2016_\n\n- Developed Problem Management process, overseeing IT remediation and reporting to senior management.  \n- Edited monthly IT newsletter and coordinated communications committee.  \n- Redesigned division Atlassian Confluence space as the central documentation repository.  \n- Earned ITIL Foundation Certificate v3 and implemented ITSM engagement procedures aligned to ITIL.  \n\n### Insight Enterprises, Tempe, AZ  \n**Senior Network Technician**  \n_June 2010 – July 2015_\n\n- Team Lead and primary escalation in Remote Network Operations Center for 85+ enterprise customers.  \n- Conducted 90-day technical training for new hires with assessments and feedback.  \n- Maintained SLAs and coached teams to ensure compliance and operational excellence.  \n- Managed break-fix support and negotiated vendor escalations to minimize downtime.  \n- Awarded 2014 Company Values Award and named 2014 Network Technician of the Year.  \n\n---\n\n## Education and Certification\n\n- ITIL Foundation Certificate v3, Information Technology Service Management (ITSM)  \n- Systems IT Essentials I: PC Hardware and Software, Yavapai College, Cottonwood, AZ  \n\n---\n\n## Technical Skills\n\n- **Automation & AI Tools:** UiPath Studio / Studio X, UiPath AI Center, Power Automate (Cloud & Desktop), Power Platform AI Builder, n8n, Enablesoft Foxtrot RPA  \n- **Application Development & Integration:** MS Power Apps (Canvas & Model-Driven), Dataverse, Power BI, SharePoint, REST APIs, JSON  \n- **Project & Workflow Management:** Atlassian JIRA & Confluence, ServiceNow, BMC Remedy, Visio, Microsoft Project  \n- **Monitoring & Reporting:** Splunk, Dynatrace Synthetics, SolarWinds (SAM, WPM), BMC Control-M  \n- **Infrastructure & Systems:** VMware vSphere, Windows Server (2012 / 2016), SCCM, CA Spectrum, Tivoli  \n- **Collaboration & Productivity:** Microsoft 365 Suite (Excel, PowerPoint, Outlook), Box, OneDrive, PagerDuty  \n"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "26d36684-b6b9-45a6-a2fc-ca84be1ffff1",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        560,
        160
      ],
      "parameters": {
        "jsonSchemaExample": "{\n  \"jobTitle\": \"Job Title\",\n  \"company\": \"Company Name\",\n  \"coverLetter\": \"Dear Hiring Manager,\\n\\nI am writing to express my interest in the listed position at your organization. I bring several years of experience delivering solutions in enterprise environments, with a focus on improving efficiency, streamlining workflows, and supporting cross-functional teams. In previous roles, I have led initiatives involving automation, application development, and process optimization.\\n\\nI am comfortable collaborating with stakeholders, documenting systems and workflows, and mentoring team members when needed. My technical background and practical approach allow me to contribute quickly and effectively to ongoing projects.\\n\\nThank you for your time and consideration. I would welcome the opportunity to discuss how my experience can support your team’s goals.\\n\\nSincerely,\\nApplicant Name\"\n}\n"
      },
      "typeVersion": 1.3
    },
    {
      "id": "00071906-5b9a-4b98-a3fc-c3abb85ab6bb",
      "name": "OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "position": [
        272,
        160
      ],
      "parameters": {
        "model": "openai/gpt-5-mini",
        "options": {}
      },
      "credentials": {
        "openRouterApi": {
          "id": "iuiJ06DxDHUK5sKP",
          "name": "OpenRouter account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "0fc5dab8-f461-4ae8-b89d-851730282de2",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -80,
        64
      ],
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "jobDescription"
            },
            {
              "name": "resume"
            }
          ]
        }
      },
      "typeVersion": 1.1
    },
    {
      "id": "6b6cba10-3221-450c-b3ba-a883700f98d1",
      "name": "Write Cover Letter",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        352,
        0
      ],
      "parameters": {
        "text": "=# RESUME\n\n{{ $json.resume }}\n\n\n#JOB DESCRIPTION\n\n{{ $('On form submission').item.json.jobDescription }}",
        "options": {
          "systemMessage": "=# System Prompt: Expert Cover Letter Writer (JSON Output)\n\n## Role\nYou are an expert career assistant specialized in writing concise casual; yet professional and tailored cover letters.  \nYour task is to carefully review the **user's Resume** and the **job description** provided in the user’s message. Then write a professional, personalized cover letter.\n\n## Task\nGenerate a clear, casual cover letter that:  \n- Introduces the user and states the position and company they are applying for.  \n- Highlights the top two to three relevant skills, experiences, or achievements from the Resume that align with key job requirements.  \n- Explains briefly why the user is a strong fit and expresses genuine interest in the role.  \n- Uses language and tone appropriate to the job’s industry and culture—professional but natural and approachable.  \n- Is approximately 250–350 words, suitable for a single-page letter.  \n- Avoids fluff, professional buzzwords, generic statements, or information not found in the Resume or Job Description.  \n- Uses first-person narrative for a personal, conversational feel.  \n- Includes a polite closing expressing interest in discussing the role further.\n\n## Requirements\n- Write in a \"laid-back\" coversational mannor.\n- Do not invent or guess details not present in the Resume or Job Description.  \n- If some information is missing, focus on what is available without fabricating content.  \n- Output only a valid JSON object with three fields:  \n  - `jobTitle`: The exact job title from the job description. \n  - `company`: The company name from the job description.  \n  - `coverLetter`: The full cover letter text as a single string, with `\\n` for line breaks, ready for parsing.\n\n## Output Example\n\n{\n  \"jobTitle\": \"Senior Systems Manager\",\n  \"company\": \"Takeda\",\n  \"coverLetter\": \"Dear Hiring Manager,\\n\\nI am excited to apply for the Senior Systems Manager position at Takeda. With over 10 years of experience delivering enterprise-grade automation and data solutions, I have successfully led intelligent automation initiatives that align closely with your needs. At my previous role, I championed UiPath adoption, developed AI-ready email monitoring solutions, and designed Power Apps portals to improve operational workflows.\\n\\nMy skills in process mapping, cross-functional collaboration, and team enablement equip me to contribute effectively to Takeda’s ongoing projects. I am confident that my experience with automation platforms and data-driven solutions will bring value to your team.\\n\\nThank you for considering my application. I look forward to the opportunity to discuss how I can support Takeda’s goals.\\n\\nSincerely,\\nJoel Gamble\"\n}\n"
        },
        "promptType": "define",
        "hasOutputParser": true
      },
      "typeVersion": 2.1
    },
    {
      "id": "ab479e5e-7a68-42d8-8b8f-5076abd42a2e",
      "name": "Create Cover Letter",
      "type": "n8n-nodes-base.googleDocs",
      "position": [
        704,
        0
      ],
      "parameters": {
        "title": "={{ $json.output.company }} - {{ $json.output.jobTitle }} - {{ $now.format('yyyy-MM-dd') }}",
        "folderId": "1xOVr4Mm2lF1tdzRvBYoSuE3VUtP585Q2"
      },
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "8m7znDuZ172IHygV",
          "name": "Google Docs - gamblearchives@gmail.com"
        }
      },
      "typeVersion": 2
    },
    {
      "id": "a7167da9-2acd-4fb9-8b96-6e5492a14169",
      "name": "Populate Cover Letter",
      "type": "n8n-nodes-base.googleDocs",
      "position": [
        896,
        0
      ],
      "parameters": {
        "actionsUi": {
          "actionFields": [
            {
              "text": "={{ $('Write Cover Letter').item.json.output.coverLetter }}",
              "action": "insert"
            }
          ]
        },
        "operation": "update",
        "documentURL": "={{ $json.id }}"
      },
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "8m7znDuZ172IHygV",
          "name": "Google Docs - gamblearchives@gmail.com"
        }
      },
      "typeVersion": 2
    },
    {
      "id": "e4a36bc1-56c3-4e78-92d5-a943f2880dce",
      "name": "Download Cover Letter",
      "type": "n8n-nodes-base.form",
      "position": [
        1104,
        0
      ],
      "webhookId": "bc711897-4bf7-4d27-8aa5-62625343d631",
      "parameters": {
        "options": {},
        "operation": "completion",
        "redirectUrl": "=https://docs.google.com/document/d/{{ $json.documentId }}",
        "respondWith": "redirect"
      },
      "typeVersion": 1
    },
    {
      "id": "fe9161c5-974f-4e82-afb7-2dbb1b10abde",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -752,
        -368
      ],
      "parameters": {
        "color": 7,
        "width": 576,
        "height": 1344,
        "content": "# Cover Letter Generator\nThis workflow generates a personalized cover letter using a provided **job description** and a **preconfigured resume**, then creates and populates a Google Doc for immediate download. It supports both manual form submission and execution as a sub-workflow.\n\n## Workflow Details\n### **01 – Collect Job Description**\nAccepts a job description via n8n Form Trigger. This is the only required user input when run manually.\n\n### **02 – Configuration**\nInjects the static resume content into the workflow. This resume is passed verbatim to the writing agent and should be updated here if changes are required.\n\n### **03 – Write Cover Letter**\nUses an LLM agent to:\n- Analyze the resume and job description\n- Extract the job title and company name directly from the description\n- Generate a casual but professional cover letter  \nThe agent outputs a strictly structured JSON object for downstream parsing.\n\n### **04 – Structured Output Parsing**\nValidates and enforces the expected JSON schema:\n- `jobTitle`\n- `company`\n- `coverLetter`  \nThis ensures reliable downstream automation and prevents malformed output.\n\n### **05 – Create Google Doc**\nCreates a new Google Document using a standardized naming convention:\n`Company – Job Title – YYYY-MM-DD`\n\n### **06 – Populate Cover Letter**\nInserts the generated cover letter text into the newly created document.\n\n### **07 – Download / Redirect**\nRedirects the user to the finished Google Doc for review, editing, or download.\n"
      },
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "Configuration": {
      "main": [
        [
          {
            "node": "Write Cover Letter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Cover Letter": {
      "main": [
        [
          {
            "node": "Create Cover Letter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Cover Letter": {
      "main": [
        [
          {
            "node": "Populate Cover Letter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Write Cover Letter",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Populate Cover Letter": {
      "main": [
        [
          {
            "node": "Download Cover Letter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Write Cover Letter",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Write Cover Letter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "workflow_id": "ai-powered_cover_letter_generator_with_resume_matching_google_docs"
}