backend/n8n/control_ai_agent_tool_access_with_port_rbac_and_slack_mentions_12062/workflow.json
{
  "id": "syjUyGUQ4jjp7UCh",
  "meta": {
    "instanceId": "cf1d54a0176ed58dce866451207aa20b247a40741885568f562f6c544c560a67",
    "templateCredsSetupCompleted": true
  },
  "name": "Access Control for AI Agents (RBAC) using Port and Slack",
  "tags": [],
  "nodes": [
    {
      "id": "f1ef483e-4f84-40c7-957d-191a54ffb80e",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1376,
        720
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "OPENAI_API_CREDENTIAL_ID",
          "name": "OpenAi account"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "c6ba00c9-8ca2-4cf0-9e2c-24ead9eb7c1b",
      "name": "Check permissions",
      "type": "@n8n/n8n-nodes-langchain.code",
      "notes": "A tool to check user's allowed tools and permissions",
      "position": [
        1808,
        704
      ],
      "parameters": {
        "code": {
          "supplyData": {
            "code": "const { DynamicTool } = require(\"@langchain/core/tools\");\nconst connectedTools = await this.getInputConnectionData('ai_tool', 0);\nconst allowedTools = $input.item.json.allowed_tools;\n\nconst noTool = (tool) => {\n  return new DynamicTool({\n    name: tool.getName(),\n    description: tool.description,\n    func: async () => {\n        return \"Tell the user 'You are not authorized to use this tool'.\";\n    },\n  });\n}\n\nreturn connectedTools.map(connectedTool => {\n  const permissionGranted = allowedTools.includes(connectedTool.getName());\n  return permissionGranted ? connectedTool : noTool(connectedTool);\n});"
          }
        },
        "inputs": {
          "input": [
            {
              "type": "ai_tool",
              "required": true
            }
          ]
        },
        "outputs": {
          "output": [
            {
              "type": "ai_tool"
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "id": "3df9b9f5-c0a2-4905-95aa-285b492f2ec0",
      "name": "Set input",
      "type": "n8n-nodes-base.set",
      "position": [
        1504,
        448
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "9ea62c8f-984b-4c05-8e40-549d8035c4d3",
              "name": "name",
              "type": "string",
              "value": "={{ $json.entity.identifier }}"
            },
            {
              "id": "bf74b2c4-f0d1-458a-9044-5cb1b62722e6",
              "name": "granted_roles",
              "type": "array",
              "value": "={{ $json.entity.relations.roles || [] }}"
            },
            {
              "id": "e0f4d3d7-a916-43cb-a13d-e4453b0d1a3b",
              "name": "allowed_tools",
              "type": "array",
              "value": "={{ $json.entity.properties.allowed_tools || [] }}"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "76529936-80ea-4f94-9a06-bae3b6ea0ce3",
      "name": "calculator",
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "position": [
        1856,
        960
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "eae759d7-fa4a-4993-bbcf-cc430f2dfa60",
      "name": "Unknown user",
      "type": "n8n-nodes-base.if",
      "position": [
        1152,
        320
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "1d042f5b-ef39-4b9e-8d9c-900b39dbe3fb",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              },
              "leftValue": "={{ $json.ok }}",
              "rightValue": ""
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "7d24fc8e-36e7-4087-88cc-7f1c725ce814",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1728,
        656
      ],
      "parameters": {
        "color": 7,
        "width": 380,
        "height": 220,
        "content": "Uses list of allowed tools gathered from Port to check for permissions and replaces denied tools with a fixed instruction to return a message to the user."
      },
      "typeVersion": 1
    },
    {
      "id": "885b0117-bae1-4aac-a91f-e140259b32e2",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1664,
        384
      ],
      "parameters": {
        "color": 7,
        "width": 380,
        "height": 240,
        "content": "AI agent with the instruction to always use the connected tools to respond to the user's request"
      },
      "typeVersion": 1
    },
    {
      "id": "25f17f39-a777-4386-b14d-1ed7db3c54f4",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1440,
        384
      ],
      "parameters": {
        "color": 7,
        "width": 220,
        "height": 240,
        "content": "Collects input and formats it using required keys"
      },
      "typeVersion": 1
    },
    {
      "id": "b82c9149-e583-4c98-a6d8-c92080fd44ba",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        256,
        240
      ],
      "parameters": {
        "color": 7,
        "width": 220,
        "height": 240,
        "content": "Listens to messages directly sent to the Slack bot"
      },
      "typeVersion": 1
    },
    {
      "id": "b74fcbc1-aa66-440a-9a75-340858bba6c5",
      "name": "Sticky Note12",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1088,
        256
      ],
      "parameters": {
        "color": 7,
        "width": 220,
        "height": 240,
        "content": "Checks if the user was found in Port"
      },
      "typeVersion": 1
    },
    {
      "id": "2878f211-03fb-4d45-9f1e-00b3b56feded",
      "name": "Slack Trigger",
      "type": "n8n-nodes-base.slackTrigger",
      "position": [
        304,
        320
      ],
      "webhookId": "cfc69683-8076-4e60-9cf3-c0b5f3d8df8b",
      "parameters": {
        "options": {},
        "trigger": [
          "app_mention"
        ],
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_CHANNEL_ID"
        }
      },
      "credentials": {
        "slackApi": {
          "id": "SLACK_API_CREDENTIAL_ID",
          "name": "Slack account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "302b2338-f9b9-4f58-a012-4a4318ef95e9",
      "name": "Send a message",
      "type": "n8n-nodes-base.slack",
      "position": [
        1504,
        208
      ],
      "webhookId": "95e8694f-4e9d-4e1a-a629-398749463b51",
      "parameters": {
        "text": "User not found in Port. Please contact your administrator.",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_CHANNEL_ID"
        },
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": {
          "id": "SLACK_API_CREDENTIAL_ID",
          "name": "Slack account"
        }
      },
      "typeVersion": 2.3
    },
    {
      "id": "0299184e-ccb8-4f76-8eab-46e37dc5e218",
      "name": "Get user permission from Port",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        944,
        320
      ],
      "parameters": {
        "url": "=https://api.port.io/v1/blueprints/rbacUser/entities/{{ $('Get user\\'s slack profile').item.json.email }}",
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth"
      },
      "credentials": {
        "httpBearerAuth": {
          "id": "PORT_BEARER_AUTH_ID",
          "name": "Bearer Auth account"
        }
      },
      "typeVersion": 4.3
    },
    {
      "id": "56caebec-0e6f-4eae-8361-012632e11022",
      "name": "Wikipedia",
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "position": [
        1984,
        976
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "686117ca-1cd3-4c69-bb51-8b8b5afabf68",
      "name": "Create an incident in PagerDuty",
      "type": "n8n-nodes-base.pagerDutyTool",
      "position": [
        2176,
        960
      ],
      "parameters": {
        "email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Email', ``, 'string') }}",
        "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}",
        "resource": "incident",
        "operation": "create",
        "serviceId": "YOUR_PAGERDUTY_SERVICE_ID",
        "authentication": "apiToken",
        "descriptionType": "auto",
        "additionalFields": {},
        "conferenceBridgeUi": {}
      },
      "credentials": {
        "pagerDutyApi": {
          "id": "PAGERDUTY_API_CREDENTIAL_ID",
          "name": "PagerDuty account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "c65a5d76-3a58-4c6e-bdfd-95129a64c8a2",
      "name": "Create a bucket in AWS S3",
      "type": "n8n-nodes-base.awsS3Tool",
      "position": [
        1696,
        960
      ],
      "parameters": {
        "name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('BucketName', ``, 'string') }}",
        "resource": "bucket",
        "additionalFields": {
          "region": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Region', ``, 'string') }}"
        }
      },
      "credentials": {
        "aws": {
          "id": "AWS_IAM_CREDENTIAL_ID",
          "name": "AWS (IAM) account"
        }
      },
      "typeVersion": 2
    },
    {
      "id": "8114fb43-7c55-4a6e-85b5-3d9f2d6e73e3",
      "name": "Get user's slack profile",
      "type": "n8n-nodes-base.slack",
      "position": [
        528,
        320
      ],
      "webhookId": "4c089606-a548-4756-948e-12b22f6b78cb",
      "parameters": {
        "user": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.user }}"
        },
        "resource": "user",
        "operation": "getProfile"
      },
      "credentials": {
        "slackApi": {
          "id": "SLACK_API_CREDENTIAL_ID",
          "name": "Slack account"
        }
      },
      "typeVersion": 2.3
    },
    {
      "id": "bd91d8a6-5ab8-4329-aa84-ffafc34e5688",
      "name": "Get Port access token",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        736,
        320
      ],
      "parameters": {
        "url": "https://api.port.io/v1/auth/access_token",
        "method": "POST",
        "options": {},
        "jsonBody": "{\n  \"clientId\": \"YOUR_PORT_CLIENT_ID\",\n  \"clientSecret\": \"YOUR_PORT_CLIENT_SECRET\"\n}",
        "sendBody": true,
        "specifyBody": "json"
      },
      "typeVersion": 4.3
    },
    {
      "id": "77771654-bfb9-4c34-b644-d4d6eeb15d37",
      "name": "Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        1568,
        720
      ],
      "parameters": {
        "sessionKey": "={{ $json.name}}",
        "sessionIdType": "customKey"
      },
      "typeVersion": 1.3
    },
    {
      "id": "b75f26a7-5b16-4bac-b3ef-0f54420af8c0",
      "name": "Send output message",
      "type": "n8n-nodes-base.slack",
      "position": [
        2112,
        448
      ],
      "webhookId": "5df57b85-2869-4290-9a90-60575aa15186",
      "parameters": {
        "text": "={{ $json.output }}",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Slack Trigger').item.json.channel }}"
        },
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": {
          "id": "SLACK_API_CREDENTIAL_ID",
          "name": "Slack account"
        }
      },
      "typeVersion": 2.3
    },
    {
      "id": "97af7be9-a451-4f68-8f49-7cc327b41633",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -496,
        64
      ],
      "parameters": {
        "width": 688,
        "height": 576,
        "content": "## AI Agent Access Control (Port + Slack)\n\nThis workflow adds role-based access control to AI agents. Users @mention the bot in Slack, and the workflow checks their permissions in Port before letting the agent use any tools.\n\n### How it works\n1. Slack trigger picks up @mentions and gets the user's email.\n2. Authenticates with Port and looks up the user in the rbacUser blueprint.\n3. If the user exists, reads their allowed_tools array.\n4. The LangChain code node filters tools at runtime, swapping any unauthorized tool with a \"not authorized\" stub.\n5. AI agent runs with only permitted tools, then posts the response back to Slack.\n\n### Setup\n- [ ] Connect your Slack account and set the channel ID.\n- [ ] Add your OpenAI API key.\n- [ ] Get a free Port account at port.io.\n- [ ] Create an rbacUser blueprint in Port with an allowed_tools property (string array).\n- [ ] Add user entities with their email as identifier and allowed tools listed.\n- [ ] Replace the Port client ID and secret in the \"Get Port access token\" node.\n- [ ] Connect any tool credentials you want to use (PagerDuty, AWS, etc.).\n- [ ] Invite the bot to your Slack channel."
      },
      "typeVersion": 1
    },
    {
      "id": "623328d8-e9ad-431e-b3ca-df0cdbcb7430",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1728,
        448
      ],
      "parameters": {
        "text": "={{ $('Slack Trigger').item.json.text }}",
        "options": {
          "systemMessage": "=You are a personal assistant. The name of the current user is \"{{ $json.name }}\"\nYou MUST only use the provided tools to process any user input. Never use general knowledge to answer questions. If you can't use a tool, tell the user why.\n\nBelow are the list of allowed tools for this user:\n{{ $json.allowed_tools }}",
          "returnIntermediateSteps": true
        },
        "promptType": "define"
      },
      "typeVersion": 1.8
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d43fce48-7be5-473d-a216-14cc4d2a4d37",
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send output message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set input": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "Check permissions",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "calculator": {
      "ai_tool": [
        [
          {
            "node": "Check permissions",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Unknown user": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "Get user's slack profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check permissions": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get Port access token": {
      "main": [
        [
          {
            "node": "Get user permission from Port",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get user's slack profile": {
      "main": [
        [
          {
            "node": "Get Port access token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a bucket in AWS S3": {
      "ai_tool": [
        [
          {
            "node": "Check permissions",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get user permission from Port": {
      "main": [
        [
          {
            "node": "Unknown user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an incident in PagerDuty": {
      "ai_tool": [
        [
          {
            "node": "Check permissions",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "workflow_id": "control_ai_agent_tool_access_with_port_rbac_and_slack_mentions"
}