backend/n8n/automated_whatsapp_upsell_messages_for_shopify_cancellations_with_rapiwa_google_sheets_10790/workflow.json
{
  "meta": {
    "instanceId": "cb9a1e5321767b6316634728341237e564b2587ab15b74ca0a89eb02a53484d6",
    "templateCredsSetupCompleted": true
  },
  "nodes": [
    {
      "id": "6befb106-7484-41b2-b49e-4df62874bd0d",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        -1104,
        960
      ],
      "parameters": {
        "options": {}
      },
      "typeVersion": 3
    },
    {
      "id": "8111e2ae-69d5-4782-95ec-7e447d0c78ba",
      "name": "Get Specific Customer Data",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -880,
        976
      ],
      "parameters": {
        "url": "=https://your_shopify_domain/admin/api/2025-07/orders.json?customer_id={{ $json.customer.id }}&status=any",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Shopify-Access-Token",
              "value": "your_shop_access-token"
            }
          ]
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "4bedda03-f7be-4a0c-a3ed-f2361cb7d5ea",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        -1296,
        960
      ],
      "parameters": {
        "options": {},
        "fieldToSplitOut": "orders"
      },
      "typeVersion": 1
    },
    {
      "id": "f4403cab-814d-4349-a0cf-4d1232398322",
      "name": "Get All Cancelled Order",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -1504,
        960
      ],
      "parameters": {
        "url": "https://your_shopify_domain/admin/api/2025-07/orders.json?customer_id=&status=cancelled",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Shopify-Access-Token",
              "value": "your_shop_access-token"
            }
          ]
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "0c52d406-ee5e-4fb2-aa6d-721624848061",
      "name": "Get Product name with re-order llink",
      "type": "n8n-nodes-base.code",
      "position": [
        -672,
        976
      ],
      "parameters": {
        "jsCode": "const data = items[0].json.orders;\n\nif (!Array.isArray(data)) {\n  throw new Error(\"Orders not found or not an array\");\n}\n\nconst customersMap = {};\n\ndata.forEach((order) => {\n  const customer = order.customer || {};\n  const customerId = customer.id || null;\n  if (!customerId) return;\n\n  if (!customersMap[customerId]) {\n    const phone = customer.phone || (customer.default_address && customer.default_address.phone) || \"N/A\";\n    const name = [customer.first_name, customer.last_name].filter(Boolean).join(\" \") || \"N/A\";\n\n    customersMap[customerId] = {\n      customerId: customerId,\n      name: name,\n      email: customer.email || \"N/A\",\n      phone: phone,\n      totalSpent: 0,\n      products: {},\n      lastOrderLink: order.order_status_url || \"N/A\",\n    };\n  } else {\n    customersMap[customerId].lastOrderLink = order.order_status_url || customersMap[customerId].lastOrderLink;\n  }\n\n  customersMap[customerId].totalSpent += parseFloat(order.current_total_price || \"0\");\n\n  if (Array.isArray(order.line_items)) {\n    order.line_items.forEach((item) => {\n      if (item.name && item.id) {\n        if (!customersMap[customerId].products[item.id]) {\n          customersMap[customerId].products[item.id] = {\n            productName: item.name,\n            quantity: 0,\n          };\n        }\n        customersMap[customerId].products[item.id].quantity += item.quantity || 1;\n      }\n    });\n  }\n});\n\nconst result = Object.values(customersMap).map((customer) => ({\n  json: {\n    customerId: customer.customerId,\n    name: customer.name,\n    email: customer.email,\n    phone: customer.phone,\n    re_order_link: customer.lastOrderLink,\n    totalSpent: customer.totalSpent.toFixed(2),\n    productsBought: Object.entries(customer.products).map(\n      ([productId, productData]) => ({\n        productId: productId,\n        productName: productData.productName,\n        quantity: productData.quantity,\n      }),\n    ),\n  },\n}));\n\nreturn result;\n"
      },
      "typeVersion": 2
    },
    {
      "id": "d45dc078-b126-4942-9d6c-9034e6741f3b",
      "name": "Get customer info",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -480,
        976
      ],
      "parameters": {
        "url": "=https://your_shopify_domain/admin/api/2025-07/customers/{{ $json.customerId }}.json ",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Shopify-Access-Token",
              "value": "your_shop_access-token"
            }
          ]
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "e59f964f-f25e-48a3-8681-2206d36382b9",
      "name": "Get Customer Total Spent",
      "type": "n8n-nodes-base.code",
      "position": [
        -304,
        976
      ],
      "parameters": {
        "jsCode": "const data = items[0].json.customer;\n\nif (!data || typeof data !== \"object\") {\n  throw new Error(\"Customer data not found or invalid format\");\n}\n\nconst customers = Array.isArray(data) ? data : [data];\n\nreturn customers\n  .filter((customer) => {\n    const totalSpent = parseFloat(customer.total_spent || '0.00');\n    return totalSpent > 0;\n  })\n  .map((customer) => {\n    const address = customer.default_address || {};\n\n    return {\n      json: {\n        customerId: customer.id || null,\n        customerName: `${customer.first_name || ''} ${customer.last_name || ''}`.trim(),\n        email: customer.email || 'N/A',\n        phone: customer.phone || address.phone || 'N/A',\n        totalSpent: customer.total_spent || '0.00',\n        ordersCount: customer.orders_count || 0,\n        address: address.address1 || 'N/A',\n        city: address.city || 'N/A',\n        country: address.country || 'N/A',\n        createdAt: customer.created_at || null,\n        updatedAt: customer.updated_at || null,\n        state: customer.state || 'N/A'\n      }\n    };\n  });\n"
      },
      "typeVersion": 2
    },
    {
      "id": "305b9d3b-6f76-4e83-8b2c-f69ab16f5fb6",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -1680,
        960
      ],
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "6d13f4ee-3668-4dee-92de-a3bc8722eed1",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        208,
        976
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "fd4cdb60-0120-4928-86b2-22d8ca3bea02",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.exists }}",
              "rightValue": true
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "1939e049-37e7-43e2-9b9c-5ef407da4c36",
      "name": "Rapiwa (verify number)",
      "type": "n8n-nodes-rapiwa.rapiwa",
      "position": [
        32,
        976
      ],
      "parameters": {
        "number": "={{ $json.phone }}",
        "operation": "verifyWhatsAppNumber"
      },
      "credentials": {
        "rapiwaApi": {
          "id": "ge5WDOaDo4d1hBpU",
          "name": "Rapiwa account 2"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "ff09d0d4-1825-4518-b432-0e1b79192c0d",
      "name": "Rapiwa (sent message)",
      "type": "n8n-nodes-rapiwa.rapiwa",
      "position": [
        432,
        848
      ],
      "parameters": {
        "number": "={{ $json.jid }}",
        "message": "=Hi {{ $('Get Product name with re-order llink').item.json.name }}\n\nWe noticed you cancelled your recent order!\nIf you’d like to try again, you can reorder the same product using the link below:\n\n👉 {{ $('Get Product name with re-order llink').item.json.re_order_link }}\n\nUse code *REORDER5* to get *5%* off your next purchase 🎁\n\nThank you for shopping with us!\n—SpaGreen Creative Team\n"
      },
      "credentials": {
        "rapiwaApi": {
          "id": "ge5WDOaDo4d1hBpU",
          "name": "Rapiwa account 2"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "8947c367-17a4-413f-a08a-568db0e32882",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -32,
        608
      ],
      "parameters": {
        "width": 848,
        "height": 640,
        "content": "### 1. Check valid whatsapp number Using Rapiwa\n- Purpose: Verify WhatsApp registration via Rapiwa API.\n### 3. Rapiwa Sender\n- Purpose: Send personalized WhatsApp messages for verified numbers.\n### 4. Store State of Rows in Verified & Sent\n- Document: references a Google spreadsheet ID (example ID in the node configuration).\n### 5. Store State of Rows in Unverified & Not Sent\n- Purpose: Write a row for numbers that are not registered on WhatsApp.\n"
      },
      "typeVersion": 1
    },
    {
      "id": "78c7ac0d-3424-4358-b55e-1da5b7fa3ae0",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "position": [
        672,
        1072
      ],
      "webhookId": "6c474e54-eb3c-4fcd-b455-948322cd0121",
      "parameters": {},
      "typeVersion": 1.1
    },
    {
      "id": "ce9b5c1d-29c3-4a0c-be2c-64e3c6dadfa1",
      "name": "Store State of Rows in Verified & Sent",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        672,
        848
      ],
      "parameters": {
        "columns": {
          "value": {
            "name": "={{ $('Get Product name with re-order llink').item.json.name }}",
            "coupon": "REORDER5",
            "number": "={{ $('Get Product name with re-order llink').item.json.phone }}",
            "status": "sent",
            "validity": "verified",
            "item link": "={{ $('Get Product name with re-order llink').item.json.re_order_link }}",
            "item name": "={{ $('Get Product name with re-order llink').item.json.productsBought[0].productName }}"
          },
          "schema": [
            {
              "id": "name",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "number",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "item name",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "item name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "coupon",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "coupon",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "item link",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "item link",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "total price",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "total price",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "validity",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "validity",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "status",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {},
        "operation": "append",
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nvrxINR5Cch5SChGydf62W6PcDdTmdDnlqBif6iTgLU/edit#gid=0",
          "cachedResultName": "Sheet1"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1nvrxINR5Cch5SChGydf62W6PcDdTmdDnlqBif6iTgLU",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nvrxINR5Cch5SChGydf62W6PcDdTmdDnlqBif6iTgLU/edit?usp=drivesdk",
          "cachedResultName": "Shopify - Send WhatsApp upsell recommendation"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gFH3Wjq6yYqSEAei",
          "name": "Google Sheets"
        }
      },
      "typeVersion": 4.6
    },
    {
      "id": "0ff9e6fd-595f-4654-aac3-c3e22684a7d7",
      "name": "Store State of Rows in Unverified & Not Sent",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        432,
        1072
      ],
      "parameters": {
        "columns": {
          "value": {
            "name": "={{ $('Get Product name with re-order llink').item.json.name }}",
            "coupon": "REORDER5",
            "number": "={{ $('Get Product name with re-order llink').item.json.phone }}",
            "status": "sent",
            "validity": "unverified",
            "item link": "={{ $('Get Product name with re-order llink').item.json.re_order_link }}",
            "item name": "={{ $('Get Product name with re-order llink').item.json.productsBought[0].productName }}"
          },
          "schema": [
            {
              "id": "name",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "number",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "item name",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "item name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "coupon",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "coupon",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "item link",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "item link",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "total price",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "total price",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "validity",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "validity",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "status",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {},
        "operation": "append",
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nvrxINR5Cch5SChGydf62W6PcDdTmdDnlqBif6iTgLU/edit#gid=0",
          "cachedResultName": "Sheet1"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1nvrxINR5Cch5SChGydf62W6PcDdTmdDnlqBif6iTgLU",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nvrxINR5Cch5SChGydf62W6PcDdTmdDnlqBif6iTgLU/edit?usp=drivesdk",
          "cachedResultName": "Shopify - Send WhatsApp upsell recommendation"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gFH3Wjq6yYqSEAei",
          "name": "Google Sheets"
        }
      },
      "typeVersion": 4.6
    },
    {
      "id": "b1dcb7dc-6e68-4878-8b92-a4b15f958440",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1680,
        1248
      ],
      "parameters": {
        "width": 1072,
        "height": 752,
        "content": "# Send WhatsApp Upsell Recommendation Message for Shopify\n## Overview\n- **Fetch cancelled orders** on a schedule\n- **Collect customer and product details**\n- **Verify the customer’s WhatsApp number** using Rapiwa\n- **Send a personalized recovery message** with a discount code\n- **Save on Google sheet** (sent, delivered, not sent, not verified)\n\n\n## Workflow Steps\n### 2. Get All Cancelled Order\n- **Purpose**: Retrieves all cancelled orders from Shopify\n- **API Endpoint**: `https://your_shopify_domain/admin/api/2025-07/orders.json?customer_id=&status=cancelled`\n### 5. Get Specific Customer Data\n- **Purpose**: Retrieves all orders for each customer\n- **API Endpoint**: `https://your_shopify_domain/admin/api/2025-07/orders.json?customer_id={{ $json.customer.id }}&status=any`\n### 6. Get Customer Info\n- **Purpose**: Fetches detailed customer profile information\n- **API Endpoint**: `https://your_shopify_domain/admin/api/2025-07/customers/{{ $json.customerId }}.json`\n\n## Google Sheet Required Columns\n**A Google Sheet formatted like this** ➤ [sample](https://docs.google.com/spreadsheets/d/1nvrxINR5Cch5SChGydf62W6PcDdTmdDnlqBif6iTgLU/edit?usp=sharing)\n\n## Useful Links\n- **Install Rapiwa**: [How to install Rapiwa](https://www.npmjs.com/package/n8n-nodes-rapiwa)\n- **Shopify API Documentation**: [https://shopify.dev/docs/admin-api](https://shopify.dev/docs/admin-api)\n- **Rapiwa Dashboard**: [https://app.rapiwa.com](https://app.rapiwa.com/login)\n- **Rapiwa Documentation**: [https://docs.rapiwa.com](https://docs.rapiwa.com/)\n"
      },
      "typeVersion": 1
    },
    {
      "id": "be37261d-3975-4bd8-ba40-552acb373808",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1552,
        816
      ],
      "parameters": {
        "width": 208,
        "height": 304,
        "content": "### **Get All Cancelled Order**\n* **Purpose:** Fetches all cancelled orders from the Shopify store.\n\n"
      },
      "typeVersion": 1
    },
    {
      "id": "d8d660ab-e429-4692-8f09-c1fe18f09ad7",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -352,
        848
      ],
      "parameters": {
        "width": 304,
        "height": 272,
        "content": "### **Get Customer Total Spent**\n**Purpose:** Filters out customers who have **spent 0** (keeps only those who made purchases).\n\n\n"
      },
      "typeVersion": 1
    },
    {
      "id": "cfabf3d8-801d-4612-bdbf-c77df1738ad4",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -960,
        784
      ],
      "parameters": {
        "width": 432,
        "height": 336,
        "content": "### 5. **Get Specific Customer Data**\n* **Purpose:** Fetches all orders for a **specific customer** using their `customer_id`.\n\n\n### 6. **Get Product Name with Re-order Link**\n* **Purpose:** classify orders for each customer and extracts useful details.\n"
      },
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Rapiwa (sent message)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Store State of Rows in Unverified & Not Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Get Specific Customer Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get All Cancelled Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get customer info": {
      "main": [
        [
          {
            "node": "Get Customer Total Spent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rapiwa (sent message)": {
      "main": [
        [
          {
            "node": "Store State of Rows in Verified & Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rapiwa (verify number)": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Cancelled Order": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Customer Total Spent": {
      "main": [
        [
          {
            "node": "Rapiwa (verify number)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Specific Customer Data": {
      "main": [
        [
          {
            "node": "Get Product name with re-order llink",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Product name with re-order llink": {
      "main": [
        [
          {
            "node": "Get customer info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store State of Rows in Verified & Sent": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store State of Rows in Unverified & Not Sent": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "workflow_id": "automated_whatsapp_upsell_messages_for_shopify_cancellations_with_rapiwa_google_sheets"
}