backend/n8n/automate_personalized_assignment_reminders_for_students_with_canvas_11746/workflow.json
{
  "id": "R1PFl0oQQNlXI9gl",
  "meta": {
    "instanceId": "5895d8ca92a7edd8f068d104b226176ebc0c945a1ed97c3c1dd3b247833ae825",
    "templateCredsSetupCompleted": true
  },
  "name": "Canvas: Send students their pending assignments",
  "tags": [],
  "nodes": [
    {
      "id": "9b1ed2f6-1a93-4bd5-9709-f5f648d0cc3b",
      "name": "When clicking ‘Execute workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -2320,
        144
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "181ea73d-430f-4f5a-9648-341b360c93d5",
      "name": "Initial parameters",
      "type": "n8n-nodes-base.set",
      "position": [
        -2096,
        144
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "2e7df20e-ec67-4d74-a356-e0373d287cd4",
              "name": "canvasLink",
              "type": "string",
              "value": "https://pucminas.instructure.com"
            },
            {
              "id": "209c838a-331a-49d5-a959-e960e82a31cc",
              "name": "courseName",
              "type": "string",
              "value": "25_2 - 05 - [IEC_EEO_O5_T2_Online]Int.Art.Orc."
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "597dac3d-86ac-4d78-8f5c-547298eca7d3",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1928,
        -48
      ],
      "parameters": {
        "color": 7,
        "width": 864,
        "height": 352,
        "content": "## Get course ID by course name \n"
      },
      "typeVersion": 1
    },
    {
      "id": "d0fff4dc-0175-4e7b-a0c2-9e57e306d243",
      "name": "Get course by name",
      "type": "n8n-nodes-base.filter",
      "position": [
        -1424,
        144
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c9eab0e6-0270-4b03-9d7a-dea4c67f809c",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.name }}",
              "rightValue": "={{ $('Initial parameters').first().json.courseName }}"
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "360b4c20-2f68-4610-b5e9-ce444f8d8c44",
      "name": "Get all teacher courses",
      "type": "n8n-nodes-base.httpRequest",
      "onError": "continueRegularOutput",
      "position": [
        -1872,
        144
      ],
      "parameters": {
        "url": "={{ $json.canvasLink }}/api/v1/courses",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          },
          "pagination": {
            "pagination": {
              "nextURL": "={{ ( $response.headers.link || '' ) .split(',') .map(p => p.trim()) .find(p => p.includes('rel=\"next\"')) ?.match(/<([^>]+)>/)?.[1] // captura a URL entre <...> || '' }}",
              "paginationMode": "responseContainsNextURL",
              "completeExpression": "={{\n  /*\n    Checks if there is NO next link in pagination\n    (no Link header or no rel=\"next\")\n  */\n  !$response.headers.link ||\n  !$response.headers.link.includes('rel=\"next\"')\n}}",
              "paginationCompleteWhen": "other"
            }
          },
          "lowercaseHeaders": true
        },
        "sendQuery": true,
        "authentication": "predefinedCredentialType",
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "nodeCredentialType": "httpBearerAuth"
      },
      "credentials": {
        "httpBearerAuth": {
          "id": "uNtrGvTLMek5lveH",
          "name": "Canvas PUC Minas - Bearer YOUR_TOKEN_HERE account"
        },
        "httpHeaderAuth": {
          "id": "nB7QsCaitrvSGsdQ",
          "name": "Canvas PUC Minas - Header Auth account"
        }
      },
      "typeVersion": 4.1
    },
    {
      "id": "788166a1-ae2c-4abe-bfe8-d958de1011ea",
      "name": "Get course ID",
      "type": "n8n-nodes-base.set",
      "position": [
        -1200,
        144
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "e4696497-962f-4142-86fc-c1cc19717b87",
              "name": "idCurso",
              "type": "number",
              "value": "={{ $json.id }}"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "fc9d05fc-4478-4910-aa5e-91933063a9ad",
      "name": "Get course students",
      "type": "n8n-nodes-base.httpRequest",
      "onError": "continueRegularOutput",
      "position": [
        -976,
        144
      ],
      "parameters": {
        "url": "={{ $('Initial parameters').first().json.canvasLink }}/api/v1/courses/{{ $('Get course ID').first().json.idCurso }}/search_users",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          },
          "pagination": {
            "pagination": {
              "nextURL": "={{ ( $response.headers.link || '' ) .split(',') .map(p => p.trim()) .find(p => p.includes('rel=\"next\"')) ?.match(/<([^>]+)>/)?.[1] // captura a URL entre <...> || '' }}",
              "paginationMode": "responseContainsNextURL",
              "completeExpression": "={{   /*     Checks if there is NO next link in pagination     (no Link header or no rel=\"next\")   */   !$response.headers.link ||   !$response.headers.link.includes('rel=\"next\"') }}",
              "paginationCompleteWhen": "other"
            }
          },
          "lowercaseHeaders": true
        },
        "sendQuery": true,
        "authentication": "predefinedCredentialType",
        "queryParameters": {
          "parameters": [
            {
              "name": "enrollment_type[]",
              "value": "student"
            }
          ]
        },
        "nodeCredentialType": "httpBearerAuth"
      },
      "credentials": {
        "httpBearerAuth": {
          "id": "uNtrGvTLMek5lveH",
          "name": "Canvas PUC Minas - Bearer YOUR_TOKEN_HERE account"
        },
        "httpHeaderAuth": {
          "id": "nB7QsCaitrvSGsdQ",
          "name": "Canvas PUC Minas - Header Auth account"
        }
      },
      "typeVersion": 4.1
    },
    {
      "id": "3aee633e-8f6e-4c74-a13d-97eaa222e299",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -584,
        -48
      ],
      "parameters": {
        "color": 7,
        "width": 416,
        "height": 352,
        "content": "## Get pending submissions by course ID and student ID\n"
      },
      "typeVersion": 1
    },
    {
      "id": "90804c1c-bcec-40aa-9eb2-578bca2532c9",
      "name": "Agregate courses pagination",
      "type": "n8n-nodes-base.code",
      "position": [
        -1648,
        144
      ],
      "parameters": {
        "language": "python",
        "pythonCode": "# n8n - Code in Python (Beta)\n# Execution mode: Run Once for All Items\n#\n# Inputs:\n#   - Multiple items produced by the previous node.\n#   - For each item:\n#       item[\"json\"][\"body\"]: list of Canvas courses (one page of results).\n#\n# Purpose:\n#   Normalize pagination by flattening all pages into a single sequence of courses.\n#   Emit one output item per course, wrapped in the required \"json\" key.\n\n# Accumulates all output items to be returned by this node\noutput_items = []\n\n# Retrieve all items received from the previous node\ninput_items = _input.all()\n\nfor item in input_items:\n    # Extract the main JSON payload from the current item\n    item_data = item[\"json\"]\n\n    # Retrieve the list of courses for the current page (defaults to an empty list)\n    body_courses = item_data.get(\"body\") or []\n\n    # Iterate over every course in the current page\n    for course in body_courses:\n        # Safely convert to a regular dict (handles JsProxy or similar wrappers)\n        try:\n            course_dict = dict(course)\n        except Exception:\n            course_dict = course\n\n        # Build an n8n-compliant output item (must contain a \"json\" key)\n        output_items.append({\n            \"json\": course_dict\n        })\n\n# Return the flattened list: one item per course across all pages\nreturn output_items\n"
      },
      "typeVersion": 2
    },
    {
      "id": "1807ebb0-6627-4935-99dd-919dbbbc836d",
      "name": "Agregate students pagination",
      "type": "n8n-nodes-base.code",
      "position": [
        -752,
        144
      ],
      "parameters": {
        "language": "python",
        "pythonCode": "# n8n - Code in Python (Beta)\n# Execution mode: Run Once for All Items\n#\n# Inputs:\n#   - Multiple items produced by the previous node.\n#   - For each item:\n#       item[\"json\"][\"body\"]: list of Canvas students (one page of results).\n#\n# Purpose:\n#   Normalize pagination by flattening all pages into a single sequence of students.\n#   Emit one output item per student, wrapped in the required \"json\" key.\n\n# Accumulates all output items to be returned by this node\noutput_items = []\n\n# Retrieve all items received from the previous node\ninput_items = _input.all()\n\nfor item in input_items:\n    # Extract the main JSON payload from the current item\n    item_data = item[\"json\"]\n\n    # Retrieve the list of students for the current page (defaults to an empty list)\n    body_students = item_data.get(\"body\") or []\n\n    # Iterate over every student in the current page\n    for student in body_students:\n        # Safely convert to a regular dict (handles JsProxy or similar wrappers)\n        try:\n            student_dict = dict(student)\n        except Exception:\n            student_dict = student\n\n        # Build an n8n-compliant output item (must contain a \"json\" key)\n        output_items.append({\n            \"json\": student_dict\n        })\n\n# Return the flattened list: one item per student across all pages\nreturn output_items\n"
      },
      "typeVersion": 2
    },
    {
      "id": "9d536d18-3214-4d5c-84b9-e3e81f4174eb",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1032,
        -48
      ],
      "parameters": {
        "color": 7,
        "width": 416,
        "height": 352,
        "content": "## Get students by course ID \n"
      },
      "typeVersion": 1
    },
    {
      "id": "1f79b58c-afb7-4617-bf68-5739aad205f3",
      "name": "Get course sumbissions",
      "type": "n8n-nodes-base.httpRequest",
      "onError": "continueRegularOutput",
      "position": [
        -528,
        144
      ],
      "parameters": {
        "url": "={{ $('Initial parameters').first().json.canvasLink }}/api/v1/courses/{{ $('Get course ID').first().json.idCurso }}//students/submissions",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          },
          "pagination": {
            "pagination": {
              "nextURL": "={{ ( $response.headers.link || '' ) .split(',') .map(p => p.trim()) .find(p => p.includes('rel=\"next\"')) ?.match(/<([^>]+)>/)?.[1] // captura a URL entre <...> || '' }}",
              "paginationMode": "responseContainsNextURL",
              "completeExpression": "={{   /*     Checks if there is NO next link in pagination     (no Link header or no rel=\"next\")   */   !$response.headers.link ||   !$response.headers.link.includes('rel=\"next\"') }}",
              "paginationCompleteWhen": "other"
            }
          },
          "lowercaseHeaders": true
        },
        "sendQuery": true,
        "authentication": "predefinedCredentialType",
        "queryParameters": {
          "parameters": [
            {
              "name": "student_ids[]",
              "value": "={{ $json.id }}"
            },
            {
              "name": "include[]",
              "value": "assignment"
            },
            {
              "name": "workflow_state",
              "value": "unsubmitted"
            }
          ]
        },
        "nodeCredentialType": "httpBearerAuth"
      },
      "credentials": {
        "httpBearerAuth": {
          "id": "uNtrGvTLMek5lveH",
          "name": "Canvas PUC Minas - Bearer YOUR_TOKEN_HERE account"
        },
        "httpHeaderAuth": {
          "id": "nB7QsCaitrvSGsdQ",
          "name": "Canvas PUC Minas - Header Auth account"
        }
      },
      "typeVersion": 4.1
    },
    {
      "id": "68a59485-21ea-4bab-8d38-67310b3bd536",
      "name": "Agregate submits pagination",
      "type": "n8n-nodes-base.code",
      "position": [
        -304,
        144
      ],
      "parameters": {
        "language": "python",
        "pythonCode": "# n8n - Code in Python (Beta)\n# Execution mode: Run Once for All Items\n#\n# Inputs:\n#   - Multiple items produced by the previous node.\n#   - For each item:\n#       item[\"json\"][\"body\"]: list of Canvas students (one page of results).\n#\n# Purpose:\n#   Normalize pagination by flattening all pages into a single sequence of students.\n#   Emit one output item per student, wrapped in the required \"json\" key.\n\n# Accumulates all output items to be returned by this node\noutput_items = []\n\n# Retrieve all items received from the previous node\ninput_items = _input.all()\n\nfor item in input_items:\n    # Extract the main JSON payload from the current item\n    item_data = item[\"json\"]\n\n    # Retrieve the list of students for the current page (defaults to an empty list)\n    body_students = item_data.get(\"body\") or []\n\n    # Iterate over every student in the current page\n    for student in body_students:\n        # Safely convert to a regular dict (handles JsProxy or similar wrappers)\n        try:\n            student_dict = dict(student)\n        except Exception:\n            student_dict = student\n\n        # Build an n8n-compliant output item (must contain a \"json\" key)\n        output_items.append({\n            \"json\": student_dict\n        })\n\n# Return the flattened list: one item per student across all pages\nreturn output_items\n"
      },
      "typeVersion": 2
    },
    {
      "id": "04a58ca1-13a2-4759-83b8-f37a4aba9551",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2144,
        -48
      ],
      "parameters": {
        "color": 7,
        "width": 192,
        "height": 352,
        "content": "## Set course name"
      },
      "typeVersion": 1
    },
    {
      "id": "908c6f43-cb59-4c94-b83a-0326391e6a3e",
      "name": "Enrich Submissions with Student Data",
      "type": "n8n-nodes-base.code",
      "position": [
        -80,
        144
      ],
      "parameters": {
        "language": "python",
        "pythonCode": "from datetime import datetime, timedelta\n\n\ndef convert_due_to_gmt_minus_3(due_at: str) -> str:\n    \"\"\"\n    Convert a Canvas UTC ISO 8601 datetime string (e.g. 2025-12-19T02:59:59Z)\n    to GMT-3 and return it formatted as 'DD/MM/YYYY HH:MM:SS'.\n\n    If input is empty or parsing fails, returns the original string.\n    \"\"\"\n    if not due_at:\n        return \"\"\n\n    try:\n        value = due_at\n\n        # Remove 'Z' do final, se existir (formato UTC)\n        if value.endswith(\"Z\"):\n            value = value[:-1]\n\n        # Ex: \"2025-12-19T02:59:59\"\n        dt_utc = datetime.fromisoformat(value)\n\n        # Aplica offset fixo de -3 horas (GMT-3)\n        dt_sp = dt_utc - timedelta(hours=3)\n\n        # *** FORMATO QUE VOCÊ QUER ***\n        return dt_sp.strftime(\"%d/%m/%Y %H:%M:%S\")\n\n    except Exception:\n        return due_at\n\n\n# n8n - Code in Python (Beta)\n# Execution mode: Run Once for All Items\n\nstudents_items = _(\"Agregate students pagination\").all()\nstudents_map = {}\n\nfor item in students_items:\n    student = item.get(\"json\", {})\n    student_id = student.get(\"id\")\n    if student_id is not None:\n        students_map[student_id] = student\n\noutput = []\n\nfor item in _input.all():\n    submission = item.get(\"json\", {})\n    assignment = submission.get(\"assignment\") or {}\n\n    student_id = submission.get(\"user_id\")\n    student_data = students_map.get(student_id, {})\n\n    student_name = student_data.get(\"name\")\n    sis_user_id = student_data.get(\"sis_user_id\")\n    login_id = student_data.get(\"login_id\")\n    email = student_data.get(\"email\")\n\n    raw_due_at = assignment.get(\"due_at\")\n    due_at_gmt3 = convert_due_to_gmt_minus_3(raw_due_at)\n\n    output.append({\n        \"json\": {\n            \"student_id\": student_id,\n            \"student_name\": student_name,\n            \"sis_user_id\": sis_user_id,\n            \"login_id\": login_id,\n            \"email\": email,\n            \"assignment_id\": assignment.get(\"id\"),\n            \"assignment_name\": assignment.get(\"name\"),\n            # Agora no formato 18/12/2025 23:59:59\n            \"due_at\": due_at_gmt3,\n            # Se quiser, mantenha o original também:\n            # \"due_at_utc\": raw_due_at,\n            \"workflow_state\": submission.get(\"workflow_state\"),\n            \"html_url\": assignment.get(\"html_url\"),\n        }\n    })\n\nreturn output\n"
      },
      "typeVersion": 2
    },
    {
      "id": "4a5606db-3f19-436d-8e4e-ca5fa7792c02",
      "name": "Group Pending Assignments per Student",
      "type": "n8n-nodes-base.code",
      "position": [
        144,
        144
      ],
      "parameters": {
        "language": "python",
        "pythonCode": "# n8n - Code in Python (Beta)\n# Execution mode: Run Once for All Items\n#\n# Inputs:\n#   - Multiple items produced by the previous node.\n#   - Each item[\"json\"] is expected to contain (one pending assignment per item):\n#       student_id, student_name, sis_user_id, login_id, email,\n#       assignment_id, assignment_name, due_at, workflow_state, html_url\n#\n# Purpose:\n#   Group all pending assignments by student_id.\n#   Build a consolidated, human-readable text summary of pending assignments per student.\n#   Emit one output item per student with aggregated counts and a text summary,\n#   in n8n-compliant format.\n\nfrom datetime import datetime\nfrom zoneinfo import ZoneInfo  # Requires Python 3.9+\n\n\ndef format_due_sao_paulo(due_at: str) -> str:\n    \"\"\"\n    Convert a Canvas UTC ISO 8601 datetime string to São Paulo local time,\n    returning a human-readable string in the format DD/MM/YYYY HH:MM.\n\n    If the input is empty or parsing fails, returns a fallback text.\n    \"\"\"\n    if not due_at:\n        return \"sem data final\"\n\n    try:\n        # Canvas typically sends something like: \"2025-12-15T02:59:00Z\"\n        # Replace 'Z' with '+00:00' to make it compatible with fromisoformat.\n        utc_dt = datetime.fromisoformat(due_at.replace(\"Z\", \"+00:00\"))\n\n        # Convert from UTC to America/Sao_Paulo timezone.\n        sp_dt = utc_dt.astimezone(ZoneInfo(\"America/Sao_Paulo\"))\n\n        # Format using Brazilian datetime pattern.\n        return sp_dt.strftime(\"%d/%m/%Y %H:%M\")\n    except Exception:\n        # If parsing fails for any reason, return the original value.\n        return due_at\n\n\n# Accumulates all output items to be returned by this node\noutput_items = []\n\n# Retrieve all items received from the previous node\ninput_items = _input.all()\n\n# 1. Group pending assignments by student_id\ngrouped_by_student = {}\n\nfor item in input_items:\n    # Extract the main JSON payload from the current item\n    item_data = item.get(\"json\", {}) or {}\n\n    student_id = item_data.get(\"student_id\")\n    student_name = item_data.get(\"student_name\")\n    sis_user_id = item_data.get(\"sis_user_id\")\n    login_id = item_data.get(\"login_id\")\n    email = item_data.get(\"email\")\n\n    assignment_id = item_data.get(\"assignment_id\")\n    assignment_name = item_data.get(\"assignment_name\")\n    due_at = item_data.get(\"due_at\")\n    workflow_state = item_data.get(\"workflow_state\")\n    html_url = item_data.get(\"html_url\")\n\n    # Initialize the student group on first occurrence\n    if student_id not in grouped_by_student:\n        grouped_by_student[student_id] = {\n            \"student_id\": student_id,\n            \"student_name\": student_name,\n            \"sis_user_id\": sis_user_id,\n            \"login_id\": login_id,\n            \"email\": email,\n            \"pending_assignments\": [],\n        }\n\n    # Append the current pending assignment to the student's list\n    grouped_by_student[student_id][\"pending_assignments\"].append(\n        {\n            \"assignment_id\": assignment_id,\n            \"assignment_name\": assignment_name,\n            \"due_at\": due_at,\n            \"workflow_state\": workflow_state,\n            \"html_url\": html_url,\n        }\n    )\n\n# 2. Build consolidated text summary per student\nfor student in grouped_by_student.values():\n    lines = []\n\n    student_id = student.get(\"student_id\")\n    student_name = student.get(\"student_name\")\n    sis_user_id = student.get(\"sis_user_id\")\n    login_id = student.get(\"login_id\")\n    email = student.get(\"email\")\n    pending_assignments = student.get(\"pending_assignments\", [])\n\n    # Header line with student identification\n    lines.append(\n        \"Olá, tudo bem?\\n\\n\"\n        \"Consta no Canvas da PUC Minas que você ainda não realizou ou entregou \"\n        \"as seguintes atividades:\\n\\n\"\n    )\n\n    # Handle case with no pending assignments for the student\n    if not pending_assignments:\n        lines.append(\"- Nenhuma pendência encontrada.\")\n    else:\n        # Detail each pending assignment in a numbered list\n        for index, assignment in enumerate(pending_assignments, start=1):\n            assignment_name = assignment.get(\"assignment_name\") or \"Sem título\"\n            raw_due = assignment.get(\"due_at\")\n            due = format_due_sao_paulo(raw_due)\n            html_url = assignment.get(\"html_url\") or \"sem link\"\n\n            lines.append(\n                f\"{index}) {assignment_name}\\n\"\n                f\"- Data limite para entrega: {due}\\n\"\n                f\"- Link: {html_url}\\n\\n\"\n            )\n\n    # Join all lines into a single multi-line string\n    pending_summary_text = \"\\n\".join(lines)\n\n    # Build an n8n-compliant output item (must contain a \"json\" key)\n    output_items.append(\n        {\n            \"json\": {\n                \"student_id\": student_id,\n                \"student_name\": student_name,\n                \"sis_user_id\": sis_user_id,\n                \"login_id\": login_id,\n                \"email\": email,\n                \"pending_count\": len(pending_assignments),\n                \"pending_summary\": pending_summary_text,\n            }\n        }\n    )\n\n# Return one item per student with the aggregated summary\nreturn output_items\n"
      },
      "typeVersion": 2
    },
    {
      "id": "07ecfc57-1cbe-42a7-82be-687c4ca6a323",
      "name": "Send message in Canvas",
      "type": "n8n-nodes-base.httpRequest",
      "onError": "continueRegularOutput",
      "position": [
        368,
        144
      ],
      "parameters": {
        "url": "={{ $('Initial parameters').first().json.canvasLink }}/api/v1/conversations",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "contentType": "form-urlencoded",
        "sendHeaders": true,
        "authentication": "predefinedCredentialType",
        "bodyParameters": {
          "parameters": [
            {
              "name": "recipients[]",
              "value": "={{ $json.student_id }}"
            },
            {
              "name": "subject",
              "value": "={{ $('Get course by name').first().json.original_name }} - Atividades pendentes"
            },
            {
              "name": "body",
              "value": "={{ $json.pending_summary }}"
            },
            {
              "name": "force_new",
              "value": "1"
            },
            {
              "name": "context_code",
              "value": "={{ 'course_' + $('Get course by name').first().json.id }}"
            }
          ]
        },
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "nodeCredentialType": "httpBearerAuth"
      },
      "credentials": {
        "httpBearerAuth": {
          "id": "uNtrGvTLMek5lveH",
          "name": "Canvas PUC Minas - Bearer YOUR_TOKEN_HERE account"
        },
        "httpHeaderAuth": {
          "id": "nB7QsCaitrvSGsdQ",
          "name": "Canvas PUC Minas - Header Auth account"
        }
      },
      "typeVersion": 4.1
    },
    {
      "id": "4140445d-f924-49cd-930a-b8eb6e2fbb2a",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -136,
        -48
      ],
      "parameters": {
        "color": 7,
        "width": 432,
        "height": 352,
        "content": "## Organize and format pending submissions information"
      },
      "typeVersion": 1
    },
    {
      "id": "96293c41-d531-4977-9d1a-b1341ae170d6",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        320,
        -48
      ],
      "parameters": {
        "color": 7,
        "width": 208,
        "height": 352,
        "content": "## Send pending submissions alert to students"
      },
      "typeVersion": 1
    },
    {
      "id": "0fdb52dc-6838-430b-88cf-db676b2fe55c",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1376,
        1104
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "5739e6d9-dbe8-4c85-88f7-25e88f91d3fb",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3216,
        -48
      ],
      "parameters": {
        "width": 800,
        "height": 448,
        "content": "## Canvas: Send students their pending assignments\n\n### How it works\n1. Trigger the workflow and set the Canvas base URL and target course name.\n2. Fetch all instructor courses and locate the course ID that matches the name.\n3. Retrieve enrolled students and their unsubmitted submissions for the course, handling paginated results.\n4. Merge student records with submission data, convert due dates to local time, and build a per-student summary.\n5. Send a Canvas conversation to each student with a personalized list of pending assignments and links.\n\n### Setup\n- [ ] Connect Canvas API credentials (Bearer YOUR_TOKEN_HERE header auth used by the workflow).\n- [ ] Enter your Canvas base URL (e.g. https://pucminas.instructure.com).\n- [ ] Set the exact course name to check for pending work.\n- [ ] Confirm the teacher account can view students and send conversations.\n- [ ] Run the workflow manually to verify output and delivery.\n- [ ] Edit the message subject or body template if you need different wording.\n"
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1d25d322-2142-4379-804c-8df818cb7497",
  "connections": {
    "Get course ID": {
      "main": [
        [
          {
            "node": "Get course students",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get course by name": {
      "main": [
        [
          {
            "node": "Get course ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initial parameters": {
      "main": [
        [
          {
            "node": "Get all teacher courses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get course students": {
      "main": [
        [
          {
            "node": "Agregate students pagination",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get course sumbissions": {
      "main": [
        [
          {
            "node": "Agregate submits pagination",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message in Canvas": {
      "main": [
        []
      ]
    },
    "Get all teacher courses": {
      "main": [
        [
          {
            "node": "Agregate courses pagination",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agregate courses pagination": {
      "main": [
        [
          {
            "node": "Get course by name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agregate submits pagination": {
      "main": [
        [
          {
            "node": "Enrich Submissions with Student Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agregate students pagination": {
      "main": [
        [
          {
            "node": "Get course sumbissions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich Submissions with Student Data": {
      "main": [
        [
          {
            "node": "Group Pending Assignments per Student",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Initial parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Group Pending Assignments per Student": {
      "main": [
        [
          {
            "node": "Send message in Canvas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "workflow_id": "automate_personalized_assignment_reminders_for_students_with_canvas"
}