backend/n8n/automated_ai_voice_cloning_from_youtube_videos_to_elevenlabs_google_sheets_11532/workflow.json
{
  "id": "V6pSHwE5AVSk2hYf",
  "meta": {
    "instanceId": "a4bfc93e975ca233ac45ed7c9227d84cf5a2329310525917adaf3312e10d5462"
  },
  "name": "ElevenLabs AI Voice Cloning from YouTube",
  "tags": [],
  "nodes": [
    {
      "id": "75da6d4c-3836-4a6f-ae49-0e78c1da8f7b",
      "name": "When clicking ‘Execute workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -256,
        64
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "e9589d49-8859-4be0-8d4c-e37257e29599",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        272,
        64
      ],
      "parameters": {
        "options": {}
      },
      "typeVersion": 3
    },
    {
      "id": "057b92d1-b8c0-4160-bb06-12f9c127adaf",
      "name": "Update row in sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1216,
        416
      ],
      "parameters": {
        "columns": {
          "value": {
            "row_number": "={{ $('Loop Over Items').item.json.row_number }}",
            "ELEVENLABS VOICE ID": "={{ $json.voice_id }}"
          },
          "schema": [
            {
              "id": "YOUTUBE VIDEO",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "YOUTUBE VIDEO",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "VOICE NAME",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "VOICE NAME",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "ELEVENLABS VOICE ID",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "ELEVENLABS VOICE ID",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "type": "number",
              "display": true,
              "removed": false,
              "readOnly": true,
              "required": false,
              "displayName": "row_number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "row_number"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {},
        "operation": "update",
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pZt5RZy6JkcnnxoSG1MFuIrNTLa0P4pVCptuk8uFJdI/edit#gid=0",
          "cachedResultName": "Foglio1"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1pZt5RZy6JkcnnxoSG1MFuIrNTLa0P4pVCptuk8uFJdI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pZt5RZy6JkcnnxoSG1MFuIrNTLa0P4pVCptuk8uFJdI/edit?usp=drivesdk",
          "cachedResultName": "ElevenLabs Clone voice from Yotubue"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "JYR6a64Qecd6t8Hb",
          "name": "Google Sheets account"
        }
      },
      "typeVersion": 4.7
    },
    {
      "id": "d4d344d5-8d39-4e4c-bd0e-a00ab61b9742",
      "name": "Get videos",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -16,
        64
      ],
      "parameters": {
        "options": {},
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ELEVENLABS VOICE ID"
            }
          ]
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pZt5RZy6JkcnnxoSG1MFuIrNTLa0P4pVCptuk8uFJdI/edit#gid=0",
          "cachedResultName": "Foglio1"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1pZt5RZy6JkcnnxoSG1MFuIrNTLa0P4pVCptuk8uFJdI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pZt5RZy6JkcnnxoSG1MFuIrNTLa0P4pVCptuk8uFJdI/edit?usp=drivesdk",
          "cachedResultName": "ElevenLabs Clone voice from Yotubue"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "JYR6a64Qecd6t8Hb",
          "name": "Google Sheets account"
        }
      },
      "typeVersion": 4.7
    },
    {
      "id": "31e3686d-b25c-471e-b52d-0fc88927e40c",
      "name": "Get Video ID",
      "type": "n8n-nodes-base.code",
      "position": [
        592,
        80
      ],
      "parameters": {
        "jsCode": "const url = $json['YOUTUBE VIDEO'];\n\nconst regex = /(?:youtube\\.com\\/(?:watch\\?v=|embed\\/|v\\/)|youtu\\.be\\/)([^&?/]+)/;\n\nlet match = url.match(regex);\nlet video_id = match ? match[1] : null;\n\nreturn [\n  {\n    json: {\n      video_id\n    }\n  }\n];\n"
      },
      "typeVersion": 2
    },
    {
      "id": "c4cc5ecc-c886-4645-ae22-f6b55f5febb1",
      "name": "From video to audio",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        864,
        80
      ],
      "parameters": {
        "url": "=https://youtube-mp3-2025.p.rapidapi.com/v1/social/youtube/audio",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $json.video_id }}"
            }
          ]
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "youtube-mp3-2025.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "XXX"
            }
          ]
        }
      },
      "typeVersion": 4.3
    },
    {
      "id": "c8065421-dc7e-453c-a9b8-60f28b949bcd",
      "name": "Download audio",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1216,
        80
      ],
      "parameters": {
        "url": "={{ $json.linkDownload }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "typeVersion": 4.3
    },
    {
      "id": "892b4fdb-60ac-407f-a8b2-61e9809119f9",
      "name": "Create voice",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        592,
        416
      ],
      "parameters": {
        "url": "https://api.elevenlabs.io/v1/voices/add",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "contentType": "multipart-form-data",
        "authentication": "genericCredentialType",
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "Teresa Mannino"
            },
            {
              "name": "files",
              "parameterType": "formBinaryData",
              "inputDataFieldName": "data"
            }
          ]
        },
        "genericAuthType": "httpHeaderAuth"
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "cuOCiacID6OxWFUF",
          "name": "ElevenLabs API"
        }
      },
      "typeVersion": 4.3
    },
    {
      "id": "e165e540-f905-4c93-844b-db9de476856f",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -80,
        -32
      ],
      "parameters": {
        "color": 7,
        "width": 560,
        "height": 272,
        "content": "## STEP 1\n[Clone this Sheet](https://docs.google.com/spreadsheets/d/1pZt5RZy6JkcnnxoSG1MFuIrNTLa0P4pVCptuk8uFJdI/edit?usp=sharing) and fill the columns \"Youtube Video\" and \"Voice Name\""
      },
      "typeVersion": 1
    },
    {
      "id": "f68238fc-c7c4-4f8d-b4bd-c3f7692c09cb",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        528,
        -32
      ],
      "parameters": {
        "color": 7,
        "width": 592,
        "height": 272,
        "content": "## STEP  2\nSet your [Rapid API Key with FREE Trial](https://rapidapi.com/nguyenmanhict-MuTUtGWD7K/api/youtube-mp3-2025) and enter it in the \"x-rapidapi-key\" field."
      },
      "typeVersion": 1
    },
    {
      "id": "069ca7a3-4d19-4ce2-a852-5776b3e52362",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        528,
        288
      ],
      "parameters": {
        "color": 7,
        "width": 592,
        "height": 288,
        "content": "## STEP 3\nGo to Developers, create your [ElevenLabs API Key](https://try.elevenlabs.io/ahkbf00hocnu). Set Header Auth (Name: xi-api-key, Value: YOUR_API_KEY)"
      },
      "typeVersion": 1
    },
    {
      "id": "c9b493cb-75aa-4d6b-b3eb-e4ad09434248",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -80,
        -528
      ],
      "parameters": {
        "width": 1200,
        "height": 448,
        "content": "## Automated AI Voice Cloning from YouTube videos to ElevenLabs & Google Sheets\nThis workflow automates the process of **creating cloned voices** in **ElevenLabs** using audio extracted from **YouTube** videos. It processes a list of video URLs from Google Sheets, converts them to audio, submits them to [ElevenLabs for voice cloning](https://try.elevenlabs.io/ahkbf00hocnu)*, and records the generated voice IDs back to the spreadsheet.\n\n*ONLY FOR STARTER, CREATOR, PRO PLAN\n\n\n### **How it works:**\n\nThis workflow automates the end-to-end process of cloning voices in ElevenLabs using YouTube videos listed in a Google Sheet. It first retrieves rows without an “ELEVENLABS VOICE ID,” extracts the YouTube video ID, and converts the video to audio via RapidAPI. The resulting M4A file is downloaded and uploaded to the ElevenLabs `/v1/voices/add` endpoint to generate a new cloned voice. Finally, the generated `voice_id` is written back to the corresponding row in the Google Sheet, completing the automation loop.\n\n### **Setup steps:**\n\nStart by duplicating the Google Sheets template and filling in the \"YOUTUBE VIDEO\" and \"VOICE NAME\" columns. Obtain and configure API keys: use a RapidAPI key for the YouTube-to-audio conversion node and an ElevenLabs key in the \"Create voice\" node under `xi-api-key`. Optionally, replace the hardcoded voice name with a dynamic reference from your sheet. Once configured, execute the workflow to automatically create voices and update the sheet with their generated IDs.\n"
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "394f9fdc-9b42-4dfc-8caa-9d10bbef9991",
  "connections": {
    "Get videos": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create voice": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Video ID": {
      "main": [
        [
          {
            "node": "From video to audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download audio": {
      "main": [
        [
          {
            "node": "Create voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Get Video ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "From video to audio": {
      "main": [
        [
          {
            "node": "Download audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "workflow_id": "automated_ai_voice_cloning_from_youtube_videos_to_elevenlabs_google_sheets"
}