backend/n8n/analyze_images_pdfs_from_google_drive_with_gemini_3_ai_11038/workflow.json
{
  "id": "CgxN4SNcrz4eQjD1",
  "name": "Gemini 3 Image Analyzer Finance Reports",
  "tags": [],
  "nodes": [
    {
      "id": "438ce927-73e5-40c3-966c-45778e6d382d",
      "name": "Analyze an image",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "position": [
        864,
        -16
      ],
      "parameters": {
        "text": "Summarize this report/image.",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "models/gemini-3-pro-preview",
          "cachedResultName": "models/gemini-3-pro-preview"
        },
        "options": {},
        "resource": "image",
        "inputType": "binary",
        "operation": "analyze"
      },
      "typeVersion": 1
    },
    {
      "id": "4c43ee69-259e-4d81-a727-921bc0b5f604",
      "name": "Google Drive Trigger",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "position": [
        176,
        0
      ],
      "parameters": {
        "event": "fileCreated",
        "options": {},
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "mode": "list",
          "value": "Replace with your ID",
          "cachedResultUrl": "FOLDER URL",
          "cachedResultName": "FOLDER NAME"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "a52f7ab7-f767-4c7c-84ad-20654146f039",
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        864,
        448
      ],
      "parameters": {
        "options": {},
        "operation": "pdf"
      },
      "typeVersion": 1
    },
    {
      "id": "c8a7a64f-a402-4e8c-ab13-da704b987816",
      "name": "OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "position": [
        1104,
        160
      ],
      "parameters": {
        "model": "google/gemini-3-pro-preview",
        "options": {}
      },
      "typeVersion": 1
    },
    {
      "id": "23fe1a9e-4428-425e-a15c-01c60a9aaf6f",
      "name": "Download Image",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        656,
        -16
      ],
      "parameters": {
        "url": "={{ $json.webContentLink }}",
        "options": {}
      },
      "typeVersion": 4.3
    },
    {
      "id": "0ab97e2e-cc3a-4242-aaa2-77267fb68d64",
      "name": "Download PDF",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        672,
        448
      ],
      "parameters": {
        "url": "={{ $json.webContentLink }}",
        "options": {}
      },
      "typeVersion": 4.3
    },
    {
      "id": "93e6a1a8-0fba-4a78-a1f0-b2f212dd1ba9",
      "name": "Analyzer Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1120,
        -16
      ],
      "parameters": {
        "text": "={{ $json.content.parts[0].text }}",
        "options": {
          "systemMessage": "You are a helpful financial analyst assistant. You will receive an input of a description of some financial charts extracted from a report. Summarize the chart/information contained in the chart, highlight the top 3 key findings."
        },
        "promptType": "define"
      },
      "typeVersion": 3
    },
    {
      "id": "09877784-a37b-464d-a033-ae242e839c55",
      "name": "OpenRouter Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "position": [
        1088,
        608
      ],
      "parameters": {
        "model": "google/gemini-3-pro-preview",
        "options": {}
      },
      "typeVersion": 1
    },
    {
      "id": "457b8560-d8ef-48d6-97e1-81698bba11c2",
      "name": "Analyzer Agent (PDF)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1120,
        448
      ],
      "parameters": {
        "text": "={{ $json.content.parts[0].text }}",
        "options": {
          "systemMessage": "You are a helpful financial analyst assistant. You will receive an input of a description of some financial charts extracted from a report. Summarize the chart/information contained in the chart, highlight the top 3 key findings."
        },
        "promptType": "define"
      },
      "typeVersion": 3
    },
    {
      "id": "95977091-8c39-489d-b710-e0847083398c",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        592,
        -96
      ],
      "parameters": {
        "color": 4,
        "width": 976,
        "height": 416,
        "content": "Image Analyzer"
      },
      "typeVersion": 1
    },
    {
      "id": "042b9653-1470-4c73-b0cb-c163e7efc7e7",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        592,
        336
      ],
      "parameters": {
        "width": 976,
        "height": 416,
        "content": "PDF Extractor & Analyzer"
      },
      "typeVersion": 1
    },
    {
      "id": "ee50c628-396c-4ed9-836b-241f5e7365f3",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        80,
        -96
      ],
      "parameters": {
        "color": 5,
        "width": 496,
        "height": 416,
        "content": "Drive Trigger + Filter by type"
      },
      "typeVersion": 1
    },
    {
      "id": "f5c156c9-f619-442a-9aee-0723833579f0",
      "name": "Filter by Type",
      "type": "n8n-nodes-base.if",
      "position": [
        416,
        0
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "or",
          "conditions": [
            {
              "id": "b345bc3a-0b4d-4b98-9049-6a422b616901",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.mimeType }}",
              "rightValue": "image/png"
            },
            {
              "id": "c7b88d28-fd8a-49ae-aac1-38a60585e3a4",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.mimeType }}",
              "rightValue": "image/webp"
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "f2546d73-2bd0-4390-96cf-b05299926069",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1024,
        -144
      ],
      "parameters": {
        "width": 1024,
        "height": 1248,
        "content": "Gemini 3 Image & PDF Extractor (Google Drive → Gemini 3 → Summary)\n\nAutomatically summarize newly uploaded images or PDF reports using Google Gemini 3, triggered directly from a Google Drive folder.\nPerfect for anyone who needs fast AI-powered analysis of financial reports, charts, screenshots, or scanned documents.\n\n🎥 Watch the full step-by-step video tutorial:\nhttps://www.youtube.com/watch?v=UuWYT_uXiw0\n\nWhat this template does\n\nThis workflow watches a Google Drive folder for new files and automatically:\n\n1. Detects new uploaded files\nUses Google Drive Trigger\nWatches a specific folder for fileCreated events\nFilters by MIME type:\nimage/png\nimage/webp\napplication/pdf\n\n2. Downloads the file automatically\nDepending on the file type:\nImages → Download via HTTP Request → Send to Gemini 3 Vision\nPDFs → Download via HTTP Request → Extract content → Send to Gemini 3\n\n3. Analyzes content using Gemini 3\nTwo separate processing lanes:\n\nImage Lane\nImage is sent to Gemini 3 (Vision / Image Analyze)\nExtracts textual + visual meaning from charts, diagrams, or screenshots\nPasses structured output to an AI Analyst Agent\nAgent summarizes and highlights top 3 findings\n\nPDF Lane\nPDF is downloaded\nText is extracted using Extract From File\nProcessed using Gemini 3 via OpenRouter Chat Model\nAI Analyst Agent summarizes charts/tables and extracts insights\n\nSetup Guide\n\nImport the template into your n8n workspace\nOpen Google Drive Trigger\nSelect your Drive OAuth credential\nReplace folder ID with your target folder\nOpen Gemini 3 / OpenRouter AI Model nodes\nAdd your API credentials\nTest by uploading:\nA PNG/WebP chart screenshot\nA multi-page PDF report\nCheck the execution to view summary outputs\n\n\n\nTroubleshooting\n\nTrigger not firing?\nConfirm your Drive OAuth credential has read access to the folder.\nGemini errors?\nEnsure your model ID matches your API provider:\nmodels/gemini-3-pro-preview\ngoogle/gemini-3-pro-preview\nPDF extraction empty?\nCheck if the file contains selectable text or only images."
      },
      "typeVersion": 1
    },
    {
      "id": "7f0ce721-5885-4354-9739-9b561dfa12b9",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        64,
        -576
      ],
      "parameters": {
        "width": 672,
        "height": 400,
        "content": "@[youtube](UuWYT_uXiw0)"
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "aeae368a-9ff6-49c8-b848-4a900b1c2c7f",
  "connections": {
    "Download PDF": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Analyze an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter by Type": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze an image": {
      "main": [
        [
          {
            "node": "Analyzer Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Analyzer Agent (PDF)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Filter by Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Analyzer Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Analyzer Agent (PDF)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "workflow_id": "analyze_images_pdfs_from_google_drive_with_gemini_3_ai"
}