backend/n8n/automate_property_inspections_and_reporting_with_openai_google_sheets_and_slack_12431/workflow.json
{
  "id": "70WngfGnNVvJ4F6f",
  "meta": {
    "instanceId": "f6e8ad6763839b50a3ab3bea5512dc60976f81a6273178925f946fc7a00549a8"
  },
  "name": "Property Inspection & Reporting Automation",
  "tags": [],
  "nodes": [
    {
      "id": "94cf7180-1e81-4a37-aa3e-d6bf590fc94a",
      "name": "Schedule Inspections",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        0,
        416
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "typeVersion": 1.3
    },
    {
      "id": "8db1a3da-5617-42a0-b622-e3f0e07ed4ff",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "position": [
        224,
        416
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "propertySheetId",
              "type": "string",
              "value": "<__PLACEHOLDER_VALUE__Google Sheets ID for property data__>"
            },
            {
              "id": "id-2",
              "name": "inspectionLogSheetId",
              "type": "string",
              "value": "<__PLACEHOLDER_VALUE__Google Sheets ID for inspection logs__>"
            },
            {
              "id": "id-3",
              "name": "managerEmail",
              "type": "string",
              "value": "<__PLACEHOLDER_VALUE__Manager email address__>"
            },
            {
              "id": "id-4",
              "name": "slackChannel",
              "type": "string",
              "value": "<__PLACEHOLDER_VALUE__Slack channel ID for notifications__>"
            }
          ]
        },
        "includeOtherFields": true
      },
      "typeVersion": 3.4
    },
    {
      "id": "ded30ecc-be74-4f6b-9cc3-b5e85260cdb5",
      "name": "Fetch Property & Tenant Data",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        448,
        416
      ],
      "parameters": {
        "options": {},
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Properties"
        },
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Workflow Configuration').first().json.propertySheetId }}"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5b6oIAuqcO9HRb2A",
          "name": "Google Sheets account 3"
        }
      },
      "typeVersion": 4.7
    },
    {
      "id": "017bb844-3b0a-43f5-bc15-fd6ab17a4bbc",
      "name": "Normalize Property Data",
      "type": "n8n-nodes-base.set",
      "position": [
        672,
        416
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "propertyId",
              "type": "string",
              "value": "={{ $json.property_id }}"
            },
            {
              "id": "id-2",
              "name": "propertyAddress",
              "type": "string",
              "value": "={{ $json.address }}"
            },
            {
              "id": "id-3",
              "name": "unitNumber",
              "type": "string",
              "value": "={{ $json.unit }}"
            },
            {
              "id": "id-4",
              "name": "tenantName",
              "type": "string",
              "value": "={{ $json.tenant_name }}"
            },
            {
              "id": "id-5",
              "name": "inspectorEmail",
              "type": "string",
              "value": "={{ $json.inspector_email }}"
            },
            {
              "id": "id-6",
              "name": "propertyType",
              "type": "string",
              "value": "={{ $json.property_type }}"
            }
          ]
        },
        "includeOtherFields": true
      },
      "typeVersion": 3.4
    },
    {
      "id": "c7f331f7-a2be-47dd-8ada-cb74873197c8",
      "name": "Generate Inspection Checklist",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        880,
        496
      ],
      "parameters": {
        "options": {
          "instructions": "You are a property management assistant specializing in property inspections.\n\nYour task is to generate a detailed, property-specific inspection checklist based on the property information provided.\n\nThe checklist should include:\n1. Exterior inspection items (roof, siding, landscaping, parking)\n2. Interior inspection items (walls, floors, appliances, fixtures)\n3. Safety checks (smoke detectors, carbon monoxide detectors, fire extinguishers)\n4. HVAC and utilities inspection\n5. Plumbing and electrical checks\n6. Property-type specific items (e.g., pool for single-family, common areas for multi-unit)\n\nFormat the checklist as a clear, numbered list with categories. Make it practical and actionable for field inspectors."
        },
        "responses": {
          "values": [
            {
              "content": "=Generate a detailed property inspection checklist for:\n\nProperty: {{ $json.propertyAddress }}\nUnit: {{ $json.unitNumber }}\nProperty Type: {{ $json.propertyType }}\nTenant: {{ $json.tenantName }}\n\nProvide a comprehensive checklist covering all areas that need inspection."
            }
          ]
        },
        "builtInTools": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "HTy8dVDHzRHtxXLm",
          "name": "n8n free OpenAI API credits"
        }
      },
      "typeVersion": 2
    },
    {
      "id": "a243f942-d059-43df-96ec-7a33488ce9ad",
      "name": "Send Checklist to Inspector",
      "type": "n8n-nodes-base.gmail",
      "position": [
        1248,
        416
      ],
      "webhookId": "2e7d04ad-7ab1-497d-9ade-5dc759290871",
      "parameters": {
        "sendTo": "={{ $('Normalize Property Data').first().json.inspectorEmail }}",
        "message": "=Hello,\n\nYou have been assigned a property inspection:\n\n**Property:** {{ $('Normalize Property Data').first().json.propertyAddress }}\n**Unit:** {{ $('Normalize Property Data').first().json.unitNumber }}\n**Tenant:** {{ $('Normalize Property Data').first().json.tenantName }}\n\n**Inspection Checklist:**\n{{ $json.message.content }}\n\nPlease complete the inspection and submit your findings using the form link below:\n[Form URL will be provided]\n\nThank you!",
        "options": {},
        "subject": "=Property Inspection Required: {{ $('Normalize Property Data').first().json.propertyAddress }}"
      },
      "typeVersion": 2.1
    },
    {
      "id": "60fab16e-d319-4fff-b2de-a84312708ff3",
      "name": "Receive Inspection Submission",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        0,
        96
      ],
      "webhookId": "17b86b50-46d7-4362-bd1c-df672122f11a",
      "parameters": {
        "options": {
          "appendAttribution": false,
          "respondWithOptions": {
            "values": {
              "formSubmittedText": "Thank you! Your inspection has been submitted successfully."
            }
          }
        },
        "formTitle": "Property Inspection Submission",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Property ID"
            },
            {
              "fieldLabel": "Inspector Name"
            },
            {
              "fieldType": "textarea",
              "fieldLabel": "Inspection Notes"
            },
            {
              "fieldType": "file",
              "fieldLabel": "Inspection Photos"
            },
            {
              "fieldType": "dropdown",
              "fieldLabel": "Overall Condition",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Excellent"
                  },
                  {
                    "option": "Good"
                  },
                  {
                    "option": "Fair"
                  },
                  {
                    "option": "Poor"
                  }
                ]
              }
            }
          ]
        },
        "formDescription": "Submit your property inspection findings, photos, and notes"
      },
      "typeVersion": 2.3
    },
    {
      "id": "bad85ea6-a5aa-41e7-8e6d-7da7057bac50",
      "name": "Store Raw Inspection Data",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        224,
        96
      ],
      "parameters": {
        "columns": {
          "value": null,
          "mappingMode": "autoMapInputData"
        },
        "options": {},
        "operation": "appendOrUpdate",
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "RawInspections"
        },
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Workflow Configuration').first().json.inspectionLogSheetId }}"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5b6oIAuqcO9HRb2A",
          "name": "Google Sheets account 3"
        }
      },
      "typeVersion": 4.7
    },
    {
      "id": "ef849102-8cd3-4163-837a-f21e1de9c825",
      "name": "Analyze Inspection & Flag Issues",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        448,
        128
      ],
      "parameters": {
        "options": {
          "instructions": "You are a property management AI assistant specializing in inspection analysis.\n\nYour task is to:\n1. Analyze the inspection notes carefully\n2. Identify any issues, defects, or concerns mentioned\n3. Categorize each issue by priority:\n   - HIGH: Safety hazards, code violations, major structural issues, urgent repairs needed\n   - MEDIUM: Maintenance needed soon, minor repairs, cosmetic issues affecting habitability\n   - LOW: Routine maintenance, minor cosmetic issues, preventive recommendations\n\nReturn your analysis in this exact JSON format:\n{\n  \"priority\": \"HIGH\" or \"MEDIUM\" or \"LOW\",\n  \"issuesSummary\": \"Brief summary of all issues found\",\n  \"issuesList\": [\"Issue 1\", \"Issue 2\", ...],\n  \"recommendedActions\": \"What should be done next\"\n}\n\nIf no issues are found, return priority as \"LOW\" with a positive summary."
        },
        "responses": {
          "values": [
            {
              "content": "=Analyze this property inspection report and flag any issues:\n\nProperty ID: {{ $json.propertyId }}\nInspector: {{ $json.inspectorName }}\nOverall Condition: {{ $json.overallCondition }}\n\nInspection Notes:\n{{ $json.inspectionNotes }}\n\nIdentify and categorize any issues found."
            }
          ]
        },
        "builtInTools": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "HTy8dVDHzRHtxXLm",
          "name": "n8n free OpenAI API credits"
        }
      },
      "typeVersion": 2
    },
    {
      "id": "f7880b41-bedc-4139-b8b1-caaf6aeea4ad",
      "name": "Route by Priority",
      "type": "n8n-nodes-base.switch",
      "position": [
        800,
        80
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "outputKey": "High",
              "conditions": {
                "options": {
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.message.content.priority }}",
                    "rightValue": "HIGH"
                  }
                ]
              },
              "renameOutput": true
            },
            {
              "outputKey": "Medium",
              "conditions": {
                "options": {
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.message.content.priority }}",
                    "rightValue": "MEDIUM"
                  }
                ]
              },
              "renameOutput": true
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Low"
        }
      },
      "typeVersion": 3.3
    },
    {
      "id": "dc91f303-6475-4216-8198-a557438ca826",
      "name": "Notify Manager (High Priority)",
      "type": "n8n-nodes-base.slack",
      "position": [
        1024,
        0
      ],
      "webhookId": "6f511aad-5468-4746-ae4e-5e291cc9ab4e",
      "parameters": {
        "text": "=🚨 **HIGH PRIORITY INSPECTION ALERT**\n\n**Property:** {{ $('Store Raw Inspection Data').first().json.propertyId }}\n**Inspector:** {{ $('Store Raw Inspection Data').first().json.inspectorName }}\n**Condition:** {{ $('Store Raw Inspection Data').first().json.overallCondition }}\n\n**Issues Summary:**\n{{ $json.message.content.issuesSummary }}\n\n**Issues Found:**\n{{ $json.message.content.issuesList.join(\"\\n• \") }}\n\n**Recommended Actions:**\n{{ $json.message.content.recommendedActions }}\n\n*Immediate attention required!*",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Workflow Configuration').first().json.slackChannel }}"
        },
        "otherOptions": {}
      },
      "typeVersion": 2.3
    },
    {
      "id": "0c800a36-25b7-41a5-ab67-49f0c15076e4",
      "name": "Email Manager (Medium Priority)",
      "type": "n8n-nodes-base.gmail",
      "position": [
        1024,
        192
      ],
      "webhookId": "28b125e3-d031-44c9-a3e4-fb82eee94c3c",
      "parameters": {
        "sendTo": "={{ $('Workflow Configuration').first().json.managerEmail }}",
        "message": "=Hello,\n\nA property inspection has been completed with medium priority issues:\n\n**Property ID:** {{ $('Store Raw Inspection Data').first().json.propertyId }}\n**Inspector:** {{ $('Store Raw Inspection Data').first().json.inspectorName }}\n**Overall Condition:** {{ $('Store Raw Inspection Data').first().json.overallCondition }}\n\n**Issues Summary:**\n{{ $json.message.content.issuesSummary }}\n\n**Issues Found:**\n{{ $json.message.content.issuesList.join(\"\\n• \") }}\n\n**Recommended Actions:**\n{{ $json.message.content.recommendedActions }}\n\nPlease review and schedule necessary maintenance.\n\nBest regards,\nProperty Management System",
        "options": {},
        "subject": "=Medium Priority Inspection Alert: {{ $('Store Raw Inspection Data').first().json.propertyId }}"
      },
      "typeVersion": 2.1
    },
    {
      "id": "a2363619-759a-4077-939d-53d4b292e0ce",
      "name": "Log Inspection Results",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1248,
        96
      ],
      "parameters": {
        "columns": {
          "value": null,
          "mappingMode": "autoMapInputData"
        },
        "options": {},
        "operation": "appendOrUpdate",
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "InspectionResults"
        },
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Workflow Configuration').first().json.inspectionLogSheetId }}"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5b6oIAuqcO9HRb2A",
          "name": "Google Sheets account 3"
        }
      },
      "typeVersion": 4.7
    },
    {
      "id": "fd126f1b-f393-4f27-bdec-3b5ad4e48cfa",
      "name": "Aggregate Weekly Inspections",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        1472,
        96
      ],
      "parameters": {
        "options": {},
        "aggregate": "aggregateAllItemData"
      },
      "typeVersion": 1
    },
    {
      "id": "4d33675a-9b79-4a00-af5a-57677d33b6fa",
      "name": "Send Summary Report",
      "type": "n8n-nodes-base.gmail",
      "position": [
        1696,
        96
      ],
      "webhookId": "a5e0bb2d-3b25-46f0-9ae0-44dded459445",
      "parameters": {
        "sendTo": "={{ $('Workflow Configuration').first().json.managerEmail }}",
        "message": "=Hello,\n\nHere is your weekly property inspection summary:\n\n**Total Inspections Completed:** {{ $json.json.length }}\n\n**Summary:**\nAll inspection data has been logged to the Google Sheets inspection log.\n\nPlease review the detailed inspection results in the spreadsheet for complete information including photos, notes, and flagged issues.\n\nBest regards,\nProperty Management Automation System",
        "options": {},
        "subject": "=Weekly Property Inspection Summary Report"
      },
      "typeVersion": 2.1
    },
    {
      "id": "38f01006-ecf2-4c89-b745-99928b1cb339",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -416,
        32
      ],
      "parameters": {
        "height": 1040,
        "content": "## Main\n\nThis workflow automates property inspections for property management teams. \nIt schedules recurring inspections, generates AI-based checklists, collects photos and notes, flags potential issues, and notifies management and tenants. \nIt logs all inspection data for reporting and compliance purposes. \nDesigned for property management companies, this template helps save time, standardize inspections, and improve issue tracking.\n\n## Setup\n\n1. Cron Node: Set frequency of inspections (daily, weekly, monthly).\n2. Google Sheets / CRM Node: Provide property and tenant data.\n3. OpenAI Node: Input API credentials and prompt template for generating inspection checklists and analyzing notes.\n4. Email/SMS Nodes: Add inspector and manager email/phone fields.\n5. Webhook/Form Node: Connect your inspection collection form or app.\n6. Slack Node: Specify channels for issue notifications.\n7. Google Sheets Node: Set document ID and sheet name for logging.\n8. Summary Email Node: Configure recipients for weekly/monthly inspection summary.\n"
      },
      "typeVersion": 1
    },
    {
      "id": "6bd80071-511e-4322-b5c6-72d57f246702",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -96,
        32
      ],
      "parameters": {
        "color": 7,
        "width": 480,
        "height": 288,
        "content": "## Trigger, Log data"
      },
      "typeVersion": 1
    },
    {
      "id": "9faf4b4c-f29c-45fc-b59f-672d9c53f85f",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        416,
        16
      ],
      "parameters": {
        "color": 7,
        "width": 480,
        "height": 304,
        "content": "## AI Logic, Priority Level"
      },
      "typeVersion": 1
    },
    {
      "id": "d1f9aa0f-e215-45a5-a865-5db18e18a7ba",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        912,
        -144
      ],
      "parameters": {
        "color": 7,
        "width": 480,
        "height": 496,
        "content": "## Notify"
      },
      "typeVersion": 1
    },
    {
      "id": "71003242-b696-488d-bf19-a62ce83c704e",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1408,
        -128
      ],
      "parameters": {
        "color": 7,
        "width": 480,
        "height": 464,
        "content": "## Summary"
      },
      "typeVersion": 1
    },
    {
      "id": "36955b7a-4de1-40f5-9a07-9d29fea1527a",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -48,
        352
      ],
      "parameters": {
        "color": 7,
        "width": 480,
        "height": 496,
        "content": "## Schedule Inspections"
      },
      "typeVersion": 1
    },
    {
      "id": "18d9341e-f3d3-4b42-b884-75f672adf946",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        448,
        352
      ],
      "parameters": {
        "color": 7,
        "width": 368,
        "height": 496,
        "content": "## Get Data"
      },
      "typeVersion": 1
    },
    {
      "id": "e80a6a7d-aa09-4540-a7b4-3507391abc95",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        832,
        368
      ],
      "parameters": {
        "color": 7,
        "width": 672,
        "height": 496,
        "content": "## AI Email to Inspector"
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fd0cb84a-7f9d-495d-b625-5fa6c48d5112",
  "connections": {
    "Route by Priority": {
      "main": [
        [
          {
            "node": "Notify Manager (High Priority)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email Manager (Medium Priority)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Inspections": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Inspection Results": {
      "main": [
        [
          {
            "node": "Aggregate Weekly Inspections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Fetch Property & Tenant Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Property Data": {
      "main": [
        [
          {
            "node": "Generate Inspection Checklist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Raw Inspection Data": {
      "main": [
        [
          {
            "node": "Analyze Inspection & Flag Issues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Weekly Inspections": {
      "main": [
        [
          {
            "node": "Send Summary Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Property & Tenant Data": {
      "main": [
        [
          {
            "node": "Normalize Property Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Inspection Checklist": {
      "main": [
        [
          {
            "node": "Send Checklist to Inspector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receive Inspection Submission": {
      "main": [
        [
          {
            "node": "Store Raw Inspection Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Manager (High Priority)": {
      "main": [
        [
          {
            "node": "Log Inspection Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Manager (Medium Priority)": {
      "main": [
        [
          {
            "node": "Log Inspection Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Inspection & Flag Issues": {
      "main": [
        [
          {
            "node": "Route by Priority",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "workflow_id": "automate_property_inspections_and_reporting_with_openai_google_sheets_and_slack"
}