backend/n8n/create_share_ai_enhanced_nasa_space_postcards_to_slack_10872/workflow.json
{
  "id": "UGSS5zt4TXxF32mr",
  "meta": {
    "instanceId": "16b9a465185996ada278d446f917202b174e5b96a4227c5d157db9677425a3cd"
  },
  "name": "NASA APOD Space Postcard Generator",
  "tags": [],
  "nodes": [
    {
      "id": "52ee729a-5b7f-4ddb-92dc-b76a19d19924",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        320,
        448
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "5c3d6d9e-9554-4ee5-9693-23d78bded6b6",
      "name": "Get NASA APOD",
      "type": "n8n-nodes-base.nasa",
      "position": [
        544,
        448
      ],
      "parameters": {
        "additionalFields": {
          "date": "={{ $now.minus({ days: Math.floor(Math.random() * 3650) }).toFormat('yyyy-MM-dd') }}"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "5aae968f-0dc2-4f3a-89dc-9e964c6e1a7b",
      "name": "Check if Media Type is Image",
      "type": "n8n-nodes-base.if",
      "position": [
        768,
        448
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "id-1",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $('Get NASA APOD').item.json.media_type }}",
              "rightValue": "image"
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "d456a188-b75c-4de0-8792-bafd3830fecb",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1200,
        432
      ],
      "parameters": {
        "text": "=## Your Role\nYou are an expert image processor. Your task is to calculate the coordinates for placing a text overlay on an image and provide a poetic message.\n\n## Image and Text Information\n*   Image Width: {{ $('Edit Image1').item.json.size.width }}\n*   Image Height: {{ $('Edit Image1').item.json.size.height }}\n*   Photo Title: {{ $('Get NASA APOD').item.json.title }}\n*   Photo Explanation: {{ $('Get NASA APOD').item.json.explanation }}\n\n## Instructions\n1.  Generate a short, poetic message (under 50 characters, no line breaks) inspired by the photo information.\n2.  Calculate the coordinates (x, y) for placing this text in the **bottom-left corner** of the image, with a small margin.\n    *   `x` should be a fixed margin from the left, like `40`.\n    *   `y` should be calculated based on the image height. A good position would be `Image Height - 60`.\n3.  You MUST output the result in the following JSON format. Do not include any other text or explanations.\n\n{\n  \"text\": \"Your poetic message here\",\n  \"x\": 40,\n  \"y\": {{ $('Edit Image1').item.json.size.height - 60 }}\n}",
        "options": {},
        "promptType": "define"
      },
      "typeVersion": 3
    },
    {
      "id": "c6bbaed0-18e6-470b-b75c-ffc536915d8c",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1184,
        608
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "typeVersion": 1.2
    },
    {
      "id": "23aabe8b-29aa-4a1a-9009-d40a31573129",
      "name": "Edit Image",
      "type": "n8n-nodes-base.editImage",
      "position": [
        1776,
        432
      ],
      "parameters": {
        "text": "={{ JSON.parse($json.output.slice($json.output.indexOf('{'), $json.output.lastIndexOf('}') + 1)).text }}",
        "options": {},
        "fontSize": 50,
        "fontColor": "#FFFFFF",
        "operation": "text",
        "positionX": "={{ JSON.parse($json.output.slice($json.output.indexOf('{'), $json.output.lastIndexOf('}') + 1)).x }}",
        "positionY": "={{ JSON.parse($json.output.slice($json.output.indexOf('{'), $json.output.lastIndexOf('}') + 1)).y }}",
        "dataPropertyName": "image_file"
      },
      "typeVersion": 1
    },
    {
      "id": "ba0d1c40-d864-4e8b-ae2f-5c540a115abc",
      "name": "Upload a file",
      "type": "n8n-nodes-base.slack",
      "position": [
        1984,
        432
      ],
      "webhookId": "eb900e35-5ba4-448b-9085-5939e5506973",
      "parameters": {
        "options": {
          "channelId": ""
        },
        "resource": "file",
        "authentication": "oAuth2",
        "binaryPropertyName": "image_file"
      },
      "typeVersion": 2.3
    },
    {
      "id": "7ac15d37-724d-4751-ac83-6d429ac3eadb",
      "name": "Send a message",
      "type": "n8n-nodes-base.slack",
      "position": [
        1984,
        656
      ],
      "webhookId": "387708f8-a772-47c0-9a1c-6f297a50c7e2",
      "parameters": {
        "text": "Have a good day! ",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "otherOptions": {},
        "authentication": "oAuth2"
      },
      "typeVersion": 2.3
    },
    {
      "id": "5477946b-b8c1-4eb0-abce-5a5365156a0c",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        1568,
        432
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "d9bcd03e-c5c9-465a-b660-9f455af57bb7",
              "name": "image_file",
              "type": "binary",
              "value": "={{ $('Get NASA APOD').item.binary.data }}"
            }
          ]
        },
        "includeOtherFields": true
      },
      "typeVersion": 3.4
    },
    {
      "id": "5fec9061-89ce-48eb-9e51-70dff5161f34",
      "name": "Edit Image1",
      "type": "n8n-nodes-base.editImage",
      "position": [
        1008,
        432
      ],
      "parameters": {
        "operation": "information",
        "dataPropertyName": "={{ $('Get NASA APOD').item.binary.data }}"
      },
      "typeVersion": 1
    },
    {
      "id": "09795a92-1601-49c8-adc8-26e81fb5549b",
      "name": "Main Overview",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        80,
        -16
      ],
      "parameters": {
        "width": 400,
        "height": 432,
        "content": "## How it works\nThis workflow creates a unique \"space postcard\" and sends it to Slack. It fetches a random picture from NASA's Picture of the Day, asks an AI to write a short poetic message for it, and adds the text directly onto the image before posting.\n\n## Setup steps\n1.  **Get NASA APOD node:** Add your NASA API credentials.\n2.  **OpenAI Chat Model node:** Add your OpenAI API credentials.\n3.  **Slack nodes (`Upload a file` & `Send a message`):** Add your Slack credentials and **select your channel** in both nodes."
      },
      "typeVersion": 1
    },
    {
      "id": "24db87d5-6fb4-4624-9661-95ef17756bd1",
      "name": "Group 1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        544,
        192
      ],
      "parameters": {
        "color": 7,
        "width": 336,
        "height": 176,
        "content": "## 1. Get a space picture\nGets a random picture from NASA's Picture of the Day and checks if it's an image (not a video)."
      },
      "typeVersion": 1
    },
    {
      "id": "725a0813-ad84-489a-b625-31ec7bb3ce73",
      "name": "Group 2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1168,
        192
      ],
      "parameters": {
        "color": 7,
        "width": 336,
        "height": 192,
        "content": "## 2. Write a message with AI\nAsks an AI to write a short, poetic message inspired by the space picture."
      },
      "typeVersion": 1
    },
    {
      "id": "2f2817af-01e2-4aea-a9bd-6337e9874327",
      "name": "Group 3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1568,
        192
      ],
      "parameters": {
        "color": 7,
        "width": 304,
        "height": 192,
        "content": "## 3. Create the postcard\nAdds the poetic message directly onto the NASA image, creating your unique postcard."
      },
      "typeVersion": 1
    },
    {
      "id": "4d502baa-23ab-4abf-9946-ab5dfe1020d9",
      "name": "Group 4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1984,
        192
      ],
      "parameters": {
        "color": 7,
        "width": 320,
        "height": 192,
        "content": "## 4. Share on Slack\nPosts the final postcard image to your Slack channel. **IMPORTANT:** You must select your channel in both Slack nodes!"
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dd0b7635-695e-4a62-8768-ab86dd3a83c4",
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Image": {
      "main": [
        [
          {
            "node": "Upload a file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Edit Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Image1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get NASA APOD": {
      "main": [
        [
          {
            "node": "Check if Media Type is Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Check if Media Type is Image": {
      "main": [
        [
          {
            "node": "Edit Image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking 'Test workflow'": {
      "main": [
        [
          {
            "node": "Get NASA APOD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "workflow_id": "create_share_ai-enhanced_nasa_space_postcards_to_slack"
}